<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="dataInfoContent" class="contents contents-margin-none fullHeight" style="display:block;">
	<form id="searchDataForm" th:object="${searchDataForm}" method="post" onsubmit="return false;">
	<div class="form-group form-group-data">
		<label for="searchDataName">데이터명</label>
		<input type="text" id="searchDataName" name="searchDataName" placeholder=" 데이터명을 입력하여 주십시오. " size="30" />
	</div>
	<div class="form-group form-group-data">
		<label for="searchDataGroup">데이터그룹</label>
		<select id="searchDataGroup" name="searchDataGroup">
			<option value="">전체</option>
			<th:block th:if="${dataGroupList.size() > 0}" th:each="dataGroup : ${dataGroupList}">
				<option th:value="${dataGroup.dataGroupId}">
					<th:block th:if="${dataGroup.dataGroupTarget == 'admin'}" th:text="'[공통]'"></th:block>
					<th:block th:unless="${dataGroup.dataGroupTarget == 'admin'}">
						<th:block th:if="${dataGroup.sharing == 'commomn'}" th:text="'[공통]'"></th:block>
						<th:block th:if="${dataGroup.sharing == 'public'}" th:text="'[공개]'"></th:block>
						<th:block th:if="${dataGroup.sharing == 'private'}" th:text="'[비공개]'"></th:block>
						<th:block th:if="${dataGroup.sharing == 'group'}" th:text="'[그룹공개]'"></th:block>
						<th:block th:text="'['+${dataGroup.userId}+']'"></th:block>
					</th:block>
					<th:block th:text="${dataGroup.dataGroupName }"></th:block>
				</option>
			</th:block>
		</select>
	</div>
	<div class="form-group form-group-data">
		<label for="searchDataType">타입</label>
		<select id="searchDataType" name="searchDataType">
			<option value="">전체</option>
			<option value="citygml">citygml</option>
			<option value="indoorgml">indoorgml</option>
			<option value="las">las</option>
			<option value="ifc">ifc</option>
			<option value="dae">dae(collada)</option>
			<option value="obj">obj</option>
			<option value="3ds">3ds</option>
		</select>
	</div>
	<div class="form-group button-group-center">
		<button type="submit" id="mapDataSearch" class="btnTextF search-text" title="검색">검색</button>
	</div>
	</form>
	<dl class="legendWrap">
		<dt>공유 유형</dt>
		<dd><span class="legend co">C</span>공통</dd>
		<dd><span class="legend pu">O</span>공개</dd>
		<dd><span class="legend pr">P</span>비공개</dd>
		<dd><span class="legend gr">G</span>그룹공개</dd>
	</dl>
	<div id="dataListDHTML" style="height:calc(100% - 255px)"></div>
</div>
</html>