<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="layerContent" class="contents yScroll fullHeight" style="display:none;">
	<div class="btnGroup">
		<!-- 사용자 설정 정보 ==> settings.js -->
		<button class="textBtnSub" onClick="turnOnAllLayer(); return false;">전체 켜기</button>
		<button class="textBtnSub" onClick="turnOffAllLayer(); return false;">전체 끄기</button>
		<button class="textBtnSub" onClick="openAllLayerTree(); return false;">펼치기</button>
		<button class="textBtnSub" onClick="closeAllLayerTree(); return false;">접기</button>
		<button class="textBtn" onClick="saveUserLayers(); return false;">저장</button>
	</div>
	<form id="layerForm" th:object="${userPolicy}" style="height: calc(100% - 50px)" th:action="@{#}">
		<input type="hidden" th:id="baseLayers" th:name="baseLayers"/>
		<ul id="layerTreeList" class="layerList marT10 yScroll" style="height: 100%"></ul>
	</form>
	<div th:replace="~{/layer/layer-template :: #templateLayerList}"></div>
</div>
</html>
