<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="api0" class="api-help-toggle">
	<img src="/images/ko/common/magologo.JPG" alt="메인">
		<h2>gaia3d.JS V1.0.5</h2>
		<br>
		<img src="/images/ko/common/lisense.JPG" alt="라이센스">
		<br>
		<h3>3D 멀티 블록 시각화를 위한 오픈 소스 자바 스크립트 라이브러리</h3>
		<p>AEC(Architecture Engineering Construction) 영역과 전통적인 3D 공간 정보 (3D GIS)를 통합하고 시각화하는 차세대 3D GIS 플랫폼입니다. 실내 및 실외에서 구별 할 수 없는 웹 브라우저에 AEC 및 3D GIS를 통합하십시오.</p>
		<p>웹 브라우저에 프로그램을 설치하지 않고도 대규모 BIM(Building Information Modeling), JT(Jupiter Tessellation) 및 3D GIS 파일을 찾아보고 공동 작업 할 수 있습니다.</p>
		
		<h3>개발 환경</h3>
		<p>Java8, eclipse, neon, node, apache, jasmine, jsdoc, Gulp, eslint, Jquery</p>
		
		<h3>Getting Started</h3>
		<br>
		<ol class="mainlist">
			<li>소스 설치
				<ul class="mainlist">
					<li>github It accepts mago3DJS from.</li>
					<li>Installation path C://git/repository/mago3djs</li>
				</ul>
			</li>
			<li>Node 설치
				<ul class="mainlist">
					<li>npm install</li>
					<li>npm install -g gulp</li>
				</ul>
			</li>
			<li>Node Server 실행
				<ul class="mainlist">
					<li>Running a local server: C:\git\repository\mago3djs > node server.js</li>
					<li>Running a public server: C:\git\repository\mago3djs > node server.js --public true</li>
				</ul>
			</li>
			<li>Symbolic Link 생성
				<ul class="mainlist">
					<li>Create Data Folder: mklink /d "C:\git\repository\mago3djs\data" "C:\data"</li>
					<li>Delete data folder: C:\git\repository\mago3djs > rmdir data</li>
				</ul>
			</li>
		</ol>
</div>
</html>