<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow">
    <title>데이터 그룹 등록 | mago3D</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css?cacheVersion=(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div class="input-header row">
                            <div class="content-desc u-pull-right">
                                <span class="icon-glyph glyph-emark-dot color-warning"></span>
                                <th:block th:text="#{check}"></th:block>
                            </div>
						</div>
						<form id="dataGroup" th:object="${dataGroup}" method="post" th:action="@{#}" onsubmit="return false;">
							<table class="input-table scope-row" summary="데이터  그룹 등록 테이블">
								<caption class="hiddenTag">데이터 그룹 등록</caption>
								<colgroup>
									<col class="col-label l"></col>
									<col class="col-input"></col>
								</colgroup>
								<tr>
									<th class="col-label" scope="row">
										<label for="dataGroupName">데이터 그룹명</label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="text" id="dataGroupName" name="dataGroupName" class="l" maxlength="100" />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="dataGroupKey">데이터 그룹 Key(영문,숫자,-,_)</label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="text" id="dataGroupKey" name="dataGroupKey" class="l" />
										<input type="button" id="duplicationButtion" th:value="#{overlap.check}" />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="parentName">상위 데이터 그룹</label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="hidden" id="parent" name="parent" />
										<input type="text" id="parentName" name="parentName" class="l" th:value="${dataGroup.parentName}" readonly="readonly" />
										<input type="button" id="dataGroupButtion" value="상위 데이터 그룹 선택" />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="sharing">공유 타입</label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<select id="sharing" name="sharing" class="selectBoxClass">
											<option value="public" selected="selected">공개</option>
											<option value="common">공통</option>
											<option value="private">개인</option>
											<option value="group">그룹</option>
										</select>
									</td>
								</tr>
								<!-- <tr>
									<th class="col-label l" scope="row">
										기본 여부
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input radio-set">
										<input type="radio" id="basicTrue" name="basic" value="true" />
										<label for="basicTrue">기본</label>
										<input type="radio" id="basicFalse" name="basic" value="false" checked />
										<label for="basicFalse">선택</label>
									</td>
								</tr> -->
								<tr>
									<th class="col-label l" scope="row">
										사용 여부
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input radio-set">
										<input type="radio" id="availableTrue" name="available" value="true" checked />
										<label for="availableTrue">사용</label>
										<input type="radio" id="availableFalse" name="available" value="false" />
										<label for="availableFalse">미사용</label>
									</td>
								</tr>
								<tr>
									<th class="col-label l" scope="row">
										Tiling 사용 여부
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input radio-set">
										<input type="radio" id="tilingTrue" name="tiling" value="true" />
										<label for="tilingTrue">사용</label>
										<input type="radio" id="tilingFalse" name="tiling" value="false" checked />
										<label for="tilingFalse">미사용</label>
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="longitude">경도</label>
									</th>
									<td class="col-input">
										<input type="text" id="longitude" name="longitude" class="m" />
										<input type="button" id="mapButtion" value="지도에서 찾기" />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="latitude">위도</label>
									</th>
									<td class="col-input">
										<input type="text" id="latitude" name="latitude" class="m" />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="altitude">높이</label>
									</th>
									<td class="col-input">
										<input type="text" id="altitude" name="altitude" class="m" />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="duration">이동시간</label>
									</th>
									<td class="col-input">
										<input type="text" id="duration" name="duration" class="s" />&nbsp;&nbsp;ms
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="metainfo">메타정보</label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="text" id="metainfo" name="metainfo" class="xl" value='{"isPhysical": false}' />
									</td>
								</tr>
								<tr>
									<th class="col-label l" scope="row">
										<label for="description" th:text="#{description}"></label>
									</th>
									<td class="col-input">
										<input type="text" id="description" name="description" class="xl" />
									</td>
								</tr>
							</table>
							<div class="button-group">
								<div class="center-buttons">
									<input type="submit" th:value="#{save}" onclick="insertDataGroup();" />
									<a href="/data-group/list" class="button">목록</a>
								</div>
							</div>
                        </form>
                    </div>
                    <!-- 상위 그룹 선택 다이얼 로그 -->
                    <div th:replace="~{/data-group/parent-data-group-dialog :: #dataGroupDialog}"></div>
				</div>
			</div>
		</div>
    </div>
</th:block>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
	});

	// 입력값이 변경되면 중복체크, 영문+숫자
	/* $("#dataGroupKey").on("keyup", function(event) {
		$("#duplication").val(null);
		if (!(event.keyCode >=37 && event.keyCode<=40)) {
			var inputValue = $(this).val();
			$(this).val(inputValue.replace(/[^a-z0-9]/gi,''));
		}
	}); */
	
	// 데이터 그룹 중복 확인
	$( "#duplicationButtion" ).on( "click", function() {
		var dataGroupKey = $("#dataGroupKey").val();
		if (dataGroupKey == "") {
			alert("데이터 그룹키(한글불가)를 입력해 주세요.");
			$("#dataGroupKey").focus();
			return false;
		}
		
		var regDataGroupKey = /^[a-zA-Z0-9-_]+$/;
		if (!regDataGroupKey.test(document.getElementById("dataGroupKey").value)) {
			alert("데이터 그룹키(한글불가)가 올바르지 않습니다.");
			return false;
		}
		
		var formData = "dataGroupKey=" + dataGroupKey;
		$.ajax({
			url: "/data-groups/duplication",
			type: "GET",
			headers: {"X-Requested-With": "XMLHttpRequest"},
	        data: formData,
			dataType: "json",
			success: function(msg){
				if(msg.statusCode <= 200) {
					if(msg.duplication == true) {
						alert(JS_MESSAGE["data.group.key.duplication"]);
						$("#dataGroupKey").focus();
						return false;
					} else {
						alert(JS_MESSAGE["data.group.key.enable"]);
						$("#duplication").val(msg.duplication);
					}
				} else {
					alert(JS_MESSAGE[msg.errorCode]);
					console.log("---- " + msg.message);
				}
			},
			error:function(request, status, error) {
				//alert(JS_MESSAGE["ajax.error.message"]);
				alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			}
		});
	});

	function validate() {
		var number = /^[0-9]+$/;
		if ($("#dataGroupName").val() === null || $("#dataGroupName").val() === "") {
			alert("데이터 그룹명을 입력해 주세요.");
			$("#dataGroupName").focus();
			return false;
		}
		if($("#duplication").val() === null || $("#duplication").val() === "") {
			alert(JS_MESSAGE["data.group.key.duplication.check"]);
			$("#dataGroupKey").focus();
			return false;
		} else if($("#duplication").val() === "true") {
			alert(JS_MESSAGE["data.group.key.duplication"]);
			$("#dataGroupKey").focus();
			return false;
		}
		if ($("#dataGroupKey").val() === null || $("#dataGroupKey").val() === "") {
			alert("데이터 그룹키(한글불가)를 입력해 주세요.");
			$("#dataGroupKey").focus();
			return false;
		}
		if($("#parent").val() === null || $("#parent").val() === "" || !number.test($("#parent").val())) {
			alert("상위 데이터 그룹을 선택해 주세요.");
			$("#parent").focus();
			return false;
		}
		if($("#duration").val() !== null && $("#duration").val() !== "") {
			if(!isNumber($("#duration").val())) {
				$("#duration").focus();
				return false;
			}
		}
		if(!locationValidation($("#longitude").val(), $("#latitude").val(), $("#altitude").val())) {
			return false;
		}
	}

	// 저장
	var insertDataGroupFlag = true;
	function insertDataGroup() {
		if (validate() == false) {
			return false;
		}
		if(insertDataGroupFlag) {
			insertDataGroupFlag = false;
			var formData = $("#dataGroup").serialize();
			$.ajax({
				url: "/data-groups",
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
		        data: formData,
				success: function(msg){
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["insert"]);
						window.location.reload();
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
						console.log("---- " + msg.message);
					}
					insertDataGroupFlag = true;
				},
				error:function(request, status, error){
			        alert(JS_MESSAGE["ajax.error.message"]);
			        insertDataGroupFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.dobule.click"]);
			return;
		}
	}

	var dataGroupDialog = $( ".dialog" ).dialog({
		autoOpen: false,
		height: 500,
		width: 1000,
		modal: true,
		overflow : "auto",
		resizable: false
	});

	// 상위 데이터 그룹 찾기
	$( "#dataGroupButtion" ).on( "click", function() {
		dataGroupDialog.dialog( "open" );
		dataGroupDialog.dialog( "option", "title", "데이터 그룹 선택");
	});

	// 다이얼로그에서 선택
	function confirmParent(parent, parentName, parentDepth) {
		if(parentDepth >= 3) {
			alert("사용자 데이터 그룹은 3Depth 이상 계층으로 입력할 수 없습니다.");
			return;
		}
		$("#parent").val(parent);
		$("#parentName").val(parentName);
		dataGroupDialog.dialog( "close" );
	}

	$( "#rootParentSelect" ).on( "click", function() {
		$("#parent").val(0);
		$("#parentName").val("[[${dataGroup.parentName}]]");
		dataGroupDialog.dialog( "close" );
	});

	// 지도에서 찾기
	$( "#mapButtion" ).on( "click", function() {
		var url = "/map/find-point?referrer=data-group-input";
		var width = 800;
		var height = 700;

		var popupX = (window.screen.width / 2) - (width / 2);
		// 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
		var popupY= (window.screen.height / 2) - (height / 2);

	    var popWin = window.open(url, "","toolbar=no ,width=" + width + " ,height=" + height + ", top=" + popupY + ", left="+popupX
	            + ", directories=no,status=yes,scrollbars=no,menubar=no,location=no");
	    //popWin.document.title = layerName;
	});

</script>
</th:block>
</body>
</html>