<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow">
	<title>데이터 그룹 | mago3D</title>
	<link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div class="site-body">
		<div class="container">
			<div class="site-content">
                <div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div style="height: 30px;"></div>
						<div class="list">
							<div class="list-header row">
								<div class="list-desc u-pull-left">
									<div class="button-group">
										<a href="#" class="button" onclick="openAll(); return false;">펼치기</a>
										<a href="#" class="button" onclick="closeAll(); return false;">접기</a>
										<!-- <a href="/layer/tree" class="button">그룹 수정/등록</a> -->
									</div>
								</div>
							</div>

							<!-- S: 데이터 그룹 목록 -->
							<table class="list-table scope-col" summary="데이터 그룹 트리">
								<caption class="hiddenTag">데이터 그룹</caption>
								<colgroup>
									<col class="col-name"></col>
									<col class="col-name"></col>
									<col class="col-name"></col>
									<!-- <col class="col-toggle"></col> -->
									<col class="col-functions"></col>
									<col class="col-functions"></col>
									<col class="col-functions"></col>
									<col class="col-functions"></col>
									<col class="col-functions"></col>
									<col class="col-functions"></col>
									<col class="col-date"></col>
								</colgroup>
								<thead>
									<tr>
										<th scope="col">그룹명</th>
					                    <th scope="col">그룹 Key</th>
					                    <th scope="col">공유 유형</th>
					                    <!-- <th scope="col">기본 여부</th> -->
					                    <th scope="col">사용 여부</th>
					                    <th scope="col">데이터 건수</th>
					                    <th scope="col">순서</th>
					                    <th scope="col">SmartTiling 데이터</th>
					                    <th scope="col">수정</th>
					                    <th scope="col">삭제</th>
					                    <th scope="col">등록일</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${dataGroupList.empty}">
										<td colspan="11" class="col-none">데이터 그룹이 존재하지 않습니다.</td>
                                    </tr>

                                    <th:block th:if="${!dataGroupList.empty}" th:each="dataGroup : ${dataGroupList}">
										<th:block th:if="${dataGroup.depth == 1}">
										<tr class="oneDepthClass">
											<td class="col-key ellipsis" style="max-width: 300px;">
												<span style="padding-left: 0px; font-size: 1.6em;" th:onclick="childrenDisplayToggle([[${dataGroup.depth}]], [[${dataGroup.dataGroupId}]], [[${dataGroup.ancestor}]]);">
													<i th:id="|oneDepthArrow-${dataGroup.dataGroupId}|" class="fa fa-caret-right oneArrow" aria-hidden="true"></i>
												</span>&nbsp;
												<span style="font-size: 1.5em; color: Dodgerblue;">
													<i th:id="|oneDepthFolder-${dataGroup.dataGroupId}|" class="fa fa-folder oneFolder" aria-hidden="true"></i>
												</span>
												<span th:text="${dataGroup.dataGroupName}"></span>
											</td>
										</th:block>
										<th:block th:if="${dataGroup.depth == 2} ">
											<tr th:class="|twoDepthClass oneDepthParent-${dataGroup.parent}|" style="display: none;">
												<td class="col-key ellipsis" style="max-width: 300px;">
													<span style="padding-left: 40px; font-size: 1.6em;" th:onclick="childrenDisplayToggle([[${dataGroup.depth}]], [[${dataGroup.dataGroupId}]], [[${dataGroup.ancestor}]]);">
														<i th:id="|twoDepthArrow-${dataGroup.dataGroupId}|" th:class="|fa fa-caret-right twoArrow ancestorArrow-${dataGroup.ancestor}|" aria-hidden="true"></i>
													</span>&nbsp;
													<span style="font-size: 1.5em; color: Mediumslateblue;">
														<i th:id="|twoDepthArrow-${dataGroup.dataGroupId}|" th:class="|fa fa-folder twoFolder ancestorFolder-${dataGroup.ancestor}|" aria-hidden="true"></i>
													</span>
													<span th:text="${dataGroup.dataGroupName}"></span>
												</td>
										</th:block>
										<th:block th:if="${dataGroup.depth == 3}">
											<tr th:class="|threeDepthClass twoDepthParent-${dataGroup.parent} ancestor-${dataGroup.ancestor}|" style="display: none;">
												<td class="col-key ellipsis" style="max-width: 300px;">
													<span style="padding-left: 80px; font-size: 1.5em; color: Tomato;">
														<i th:id="|threeDepthFolder-${dataGroup.dataGroupId}|" th:class="|fa fa-folder threeFolder ancestorFolder-${dataGroup.ancestor}|" aria-hidden="true"></i>
													</span>
													<span th:text="${dataGroup.dataGroupName}"></span>
												</td>
										</th:block>

										<td class="col-key" th:text="${dataGroup.dataGroupKey}"></td>
                                        <td class="col-type" th:text="${dataGroup.sharing}"></td>
                                        
                                        <!-- <td class="col-type" th:if="${#bools.isTrue(dataGroup.basic)}" th:text="기본"></td>
                                        <td class="col-type" th:if="${#bools.isFalse(dataGroup.basic)}" th:text="선택"></td> -->
                                        <td class="col-type" th:if="${#bools.isTrue(dataGroup.available)}" th:text="사용"></td>
                                        <td class="col-type" th:if="${#bools.isFalse(dataGroup.available)}" th:text="미사용"></td>
                                    
                                        <td class="col-count" th:if="${dataGroup.dataCount > 0}">
                                            <a th:href="@{/data/list(searchOption=0, searchWord=data_group_name, searchValue=${dataGroup.dataGroupName})}" class="linkButton" th:text="${dataGroup.dataCount}"></a>
                                        </td>
                                        <td class="col-count" th:if="${dataGroup.dataCount == 0}" th:text="${dataGroup.dataCount}"></td>

                                        <td class="col-type">
                                            <div class="button-group">
                                                <a href="#" class="button" th:onclick="moveUp([[${dataGroup.dataGroupId}]], [[${dataGroup.viewOrder}]]); return false;" style="text-decoration:none;">위로</a>
                                                <a href="#" class="button" th:onclick="moveDown([[${dataGroup.dataGroupId}]], [[${dataGroup.viewOrder}]]); return false;" style="text-decoration:none;">아래로</a>
                                            </div>
                                        </td>
                                        <td class="col-functions block-element-wrapper">
                                            <a th:href="@{#}" th:onclick="uploadSmartTilingData([[${dataGroup.dataGroupId}]], [[${dataGroup.dataGroupName}]]); return false;">메타 정보 수정</a>
                                            <a th:href="@{|/data-groups/download/${dataGroup.dataGroupId}|}">내보내기(일반용)</a>
                                            <a th:href="@{|/data-groups/download/converter/${dataGroup.dataGroupId}|}">내보내기(변환용)</a>
                                        </td>

                                        <td class="col-type">
											<a th:href="@{/data-group/modify(dataGroupId=${dataGroup.dataGroupId})}" class="image-button button-edit">수정</a>
                                        </td>

                                        <td class="col-type" th:if="${#bools.isTrue(dataGroup.basic)}" th:text="|불가(기본)|"></td>
                                        <td class="col-type" th:if="${#bools.isFalse(dataGroup.basic)}">
                                            <a th:href="@{/data-group/delete(dataGroupId=${dataGroup.dataGroupId})}" class="image-button button-delete" th:value="#{delete}" onclick="return deleteWarning();"></a>
                                        </td>
                                        <td class="col-date">
											<th:block th:text="${#temporals.format(dataGroup.insertDate,'yyyy-MM-dd HH:mm')}"></th:block>
										</td>
									</tr>
									</th:block>
								</tbody>
							</table>
							<!-- E: 데이터 그룹 목록 -->
						</div>
						<!-- smart tiling file dialog -->
						<div th:replace="~{/data-group/data-smart-tiling-file-dialog :: #uploadDataSmartTilingDialog}"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</th:block>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.form.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/handlebars-4.1.2/handlebars.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	//펼치기
	function openAll() {
	    $(".threeDepthClass").show();
	    $(".twoDepthClass").show();

	    // fa-caret-right
	    // fa-caret-down
	    $(".oneArrow").removeClass("fa-caret-right");
	    $(".oneArrow").addClass("fa-caret-down");
	    $(".twoArrow").removeClass("fa-caret-right");
	    $(".twoArrow").addClass("fa-caret-down");

	    $(".oneFolder").removeClass("fa-folder");
	    $(".oneFolder").addClass("fa-folder-open");
	    $(".twoFolder").removeClass("fa-folder");
	    $(".twoFolder").addClass("fa-folder-open");
	}

	// 접기
	function closeAll() {
	    $(".threeDepthClass").hide();
	    $(".twoDepthClass").hide();

	    $(".oneArrow").removeClass("fa-caret-down");
	    $(".oneArrow").addClass("fa-caret-right");
	    $(".twoArrwo").removeClass("fa-caret-down");
	    $(".twoArrwo").addClass("fa-caret-right");

	    $(".oneFolder").removeClass("fa-folder-open");
	    $(".oneFolder").addClass("fa-folder");
	    $(".twoFolder").removeClass("fa-folder-open");
	    $(".twoFolder").addClass("fa-folder");
	}

	// 화살표 클릭시
	function childrenDisplayToggle(depth, id, ancestor) {
	    if(depth === "1") {
	        if( $(".oneDepthParent-" + id).css("display") === "none" ) {
	            // 접힌 상태
	            $(".oneDepthParent-" + id).show();

	            $("#oneDepthArrow-" + id).removeClass("fa-caret-right");
	            $("#oneDepthArrow-" + id).addClass("fa-caret-down");
	            $("#oneDepthFolder-" + id).removeClass("fa-folder");
	            $("#oneDepthFolder-" + id).addClass("fa-folder-open");

	            $(".ancestorArrow-" + ancestor).removeClass("fa-caret-down");
	            $(".ancestorArrow-" + ancestor).addClass("fa-caret-right");
	            $(".ancestorFolder-" + ancestor).removeClass("fa-folder-open");
	            $(".ancestorFolder-" + ancestor).addClass("fa-folder");
	        } else {
				// 펼친 상태
	            $(".ancestor-" + ancestor).hide();
	            $(".oneDepthParent-" + id).hide();

	        	var clickClass = $("#oneDepthArrow-" + id).attr("class");
	            if(clickClass.indexOf("right") >= 0) {
	            	// 닫힘 상태라 펼침
	            	$("#oneDepthArrow-" + id).removeClass("fa-caret-right");
	            	$("#oneDepthArrow-" + id).addClass("fa-caret-down");
	            	$("#oneDepthFolder-" + id).removeClass("fa-folder");
	            	$("#oneDepthFolder-" + id).addClass("fa-folder-open");
	            } else {
	            	// 펼침 상태라 닫힘
	            	$("#oneDepthArrow-" + id).removeClass("fa-caret-down");
	                $("#oneDepthArrow-" + id).addClass("fa-caret-right");
	                $("#oneDepthFolder-" + id).removeClass("fa-folder-open");
	                $("#oneDepthFolder-" + id).addClass("fa-folder");
	            }

	            $(".ancestorArrow-" + ancestor).removeClass("fa-caret-down");
	            $(".ancestorArrow-" + ancestor).addClass("fa-caret-right");
	            $(".ancestorFolder-" + ancestor).removeClass("fa-folder-open");
	            $(".ancestorFolder-" + ancestor).addClass("fa-folder");
	        }
	    } else if(depth === "2") {
	    	if( $(".twoDepthParent-" + id).css("display") === "none" ) {
	            // 접힌 상태
	            $(".twoDepthParent-" + id).show();

	            $("#twoDepthArrow-" + id).removeClass("fa-caret-right");
	            $("#twoDepthArrow-" + id).addClass("fa-caret-down");
	            $("#twoDepthFolder-" + id).removeClass("fa-folder");
	            $("#twoDepthFolder-" + id).addClass("fa-folder-open");
	        } else {
	            // 펼친 상태
	            $(".twoDepthParent-" + id).hide();

	            var clickClass = $("#twoDepthArrow-" + id).attr("class");
	            if(clickClass.indexOf("right") >= 0) {
	            	// 닫힘 상태라 펼침
	            	$("#twoDepthArrow-" + id).removeClass("fa-caret-right");
	            	$("#twoDepthArrow-" + id).addClass("fa-caret-down");
	            	$("#twoDepthFolder-" + id).removeClass("fa-folder");
	            	$("#twoDepthFolder-" + id).addClass("fa-folder-open");
	            } else {
	            	// 펼침 상태라 닫힘
	            	$("#twoDepthArrow-" + id).removeClass("fa-caret-down");
	                $("#twoDepthArrow-" + id).addClass("fa-caret-right");
	                $("#twoDepthFolder-" + id).removeClass("fa-folder-open");
	                $("#twoDepthFolder-" + id).addClass("fa-folder");
	            }
	        }
	    }
	}

	// 위로 이동
    var upFlag = true;
    function moveUp(id, viewOrder) {
        if(upFlag) {
            upFlag = false;
            if(viewOrder === "1") {
                alert("제일 처음 입니다.");
                upFlag = true;
                return;
            }

            var formData = "updateType=UP";
    	    $.ajax({
    			url: "/data-groups/view-order/" + id,
    			type: "POST",
    			headers: {"X-Requested-With": "XMLHttpRequest"},
    	        data: formData,
    			success: function(msg){
    				if(msg.statusCode <= 200) {
    					alert(JS_MESSAGE["update"]);
    					window.location.reload();
    					upFlag = true;
    					openAll();
    				} else {
						if(msg.errorCode === "data.group.view-order.invalid") {
							alert("순서를 변경할 수 없습니다.");
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
						}
    					console.log("---- " + msg.message);
    					upFlag = true;
    				}
    			},
    			error:function(request, status, error){
    		        alert(JS_MESSAGE["ajax.error.message"]);
    		        upFlag = true;
    			}
    		});
        } else {
            alert("진행 중입니다.");
            return;
        }
    }

    // 아래로 이동
    var downFlag = true;
    function moveDown(id, viewOrder) {
        if(downFlag) {
            downFlag = false;
            var formData = "updateType=DOWN";
    	    $.ajax({
    			url: "/data-groups/view-order/" + id,
    			type: "POST",
    			headers: {"X-Requested-With": "XMLHttpRequest"},
    	        data: formData,
    			success: function(msg){
    				if(msg.statusCode <= 200) {
    					alert(JS_MESSAGE["update"]);
    					window.location.reload();
    					downFlag = true;
    					openAll();
    				} else {
    					if(msg.errorCode === "data.group.view-order.invalid") {
							alert("순서를 변경할 수 없습니다.");
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
						}
    					console.log("---- " + msg.message);
    					downFlag = true;
    				}
    			},
    			error:function(request, status, error){
    		        alert(JS_MESSAGE["ajax.error.message"]);
    		        downFlag = true;
    			}
    		});
        } else {
            alert("진행 중입니다.");
            return;
        }
    }

	// smart tiling 데이터 등록 다이얼 로그
	var uploadDataSmartTilingDialog = $( ".uploadDataSmartTilingDialog" ).dialog({
		autoOpen: false,
		width: 600,
		height: 445,
		modal: true,
		resizable: false
	});

	// 데이터 속성 수정
	function uploadSmartTilingData(dataGroupId, dataGroupName) {
		uploadDataSmartTilingDialog.dialog( "open" );
		// 파일 입력 초기화
		$("#smartTilingFileName").val("");
		// 파싱 로그 초기화
		$("#dataSmartTilingUploadLog").html("");
		$("#smartTilingFileDataGroupId").val(dataGroupId);
		$("#smartTilingDataGroupName").html(dataGroupName);
	}

	// 데이터 속성 파일 upload
	var dataSmartTilingFileUploadFlag = true;
	function dataSmartTilingFileUpload() {
		var fileName = $("#smartTilingFileName").val();
		if(fileName === "") {
			alert(JS_MESSAGE["file.name.empty"]);
			$("#smartTilingFileName").focus();
			return false;
		}
		if( fileName.lastIndexOf("json") <=0 && fileName.lastIndexOf("txt") <=0 ) {
			alert(JS_MESSAGE["file.ext.invalid"]);
			$("#smartTilingFileName").focus();
			return false;
		}

		if(dataSmartTilingFileUploadFlag) {
			dataSmartTilingFileUploadFlag = false;
			$("#dataSmartTilingFileInfo").ajaxSubmit({
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg){
					if(msg.statusCode <= 200) {
						if(msg.parseErrorCount != 0 || msg.insertErrorCount != 0) {
							alert(JS_MESSAGE["error.exist.in.processing"]);
						} else {
							alert(JS_MESSAGE["update"]);
						}

						var source = $("#templateDataSmartTilingUploadLog").html();
						var template = Handlebars.compile(source);
						var html = template(msg);

						$("#dataSmartTilingUploadLog").html("");
		                $("#dataSmartTilingUploadLog").append(html);
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
	    			}
					dataSmartTilingFileUploadFlag = true;
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
					dataSmartTilingFileUploadFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.dobule.click"]);
			return;
		}
	}
</script>
</body>
</th:block>
</html>