<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<title>Layer 그룹</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div style="height: 30px;"></div>
						<div class="list">
							<div class="list-header row">
								<div class="list-desc u-pull-left">
									<div class="button-group">
										<a href="#" onclick="openAll(); return false;" class="button">펼치기</a>
										<a href="#" onclick="closeAll(); return false;" class="button">접기</a>
									</div>
								</div>
							</div>
							<table class="list-table scope-col" summary="2D 레이어 그룹 리스트">
								<caption class="hiddenTag">2D 레이어 그룹</caption>
								<col class="col-name"/>
								<col class="col-toggle"/>
								<col class="col-name"/>
								<col class="col-functions"/>
								<col class="col-functions"/>
								<col class="col-functions"/>
								<col class="col-date"/>
								<thead>
								<tr>
									<th scope="col">그룹명</th>
									<th scope="col">사용 여부</th>
									<th scope="col">등록자</th>
									<th scope="col">레이어</th>
									<th scope="col">순서</th>
									<th scope="col">편집</th>
									<th scope="col">등록일</th>
								</tr>
								</thead>
								<tbody>
								<tr th:if="${layerGroupList.empty}">
									<td colspan="9" class="col-none">데이터 그룹이 존재하지 않습니다.</td>
								</tr>
								<th:block th:if="${!layerGroupList.empty}" th:each="layerGroup : ${layerGroupList}">
									<th:block th:if="${layerGroup.depth == 1}">
										<tr class="oneDepthClass">
											<td class="col-key ellipsis" style="max-width: 300px;">
									<span th:onclick="childrenDisplayToggle([[${layerGroup.depth}]], [[${layerGroup.layerGroupId}]], [[${layerGroup.ancestor}]]);"
										  style="padding-left: 0px; font-size: 1.6em;">
										<i th:id="|oneDepthArrow-${layerGroup.layerGroupId}|"
										   class="fa fa-caret-right oneArrow" aria-hidden="true"></i>
									</span>&nbsp;
												<span style="font-size: 1.5em; color: Dodgerblue;">
										<i th:id="|oneDepthFolder-${layerGroup.layerGroupId}|"
										   class="fa fa-folder oneFolder" aria-hidden="true"></i>
									</span>
												<span th:text="${layerGroup.layerGroupName}"></span>
											</td>
									</th:block>
									<th:block th:if="${layerGroup.depth == 2} ">
										<tr th:class="|twoDepthClass oneDepthParent-${layerGroup.parent}|"
											style="display: none;">
											<td class="col-key ellipsis" style="max-width: 300px;">
										<span th:onclick="childrenDisplayToggle([[${layerGroup.depth}]], [[${layerGroup.layerGroupId}]], [[${layerGroup.ancestor}]]);"
											  style="padding-left: 40px; font-size: 1.6em;">
											<i th:id="|twoDepthArrow-${layerGroup.layerGroupId}|"
											   th:class="|fa fa-caret-right twoArrow ancestorArrow-${layerGroup.ancestor}|"
											   aria-hidden="true"></i>
										</span>&nbsp;
												<span style="font-size: 1.5em; color: Mediumslateblue;">
											<i th:id="|twoDepthArrow-${layerGroup.layerGroupId}|"
											   th:class="|fa fa-folder twoFolder ancestorFolder-${layerGroup.ancestor}|"
											   aria-hidden="true"></i>
										</span>
												<span th:text="${layerGroup.layerGroupName}"></span>
											</td>
									</th:block>
									<th:block th:if="${layerGroup.depth == 3}">
										<tr th:class="|threeDepthClass twoDepthParent-${layerGroup.parent} ancestor-${layerGroup.ancestor}|"
											style="display: none;">
											<td class="col-key ellipsis" style="max-width: 300px;">
										<span style="padding-left: 80px; font-size: 1.5em; color: Tomato;">
											<i th:id="|threeDepthFolder-${layerGroup.layerGroupId}|"
											   th:class="|fa fa-folder threeFolder ancestorFolder-${layerGroup.ancestor}|"
											   aria-hidden="true"></i>
										</span>
												<span th:text="${layerGroup.layerGroupName}"></span>
											</td>
									</th:block>
									<td class="col-type">
										<th:block th:if="${#bools.isTrue(layerGroup.available)}" th:text="사용"></th:block>
										<th:block th:if="${#bools.isFalse(layerGroup.available)}" th:text="미사용"></th:block>
									</td>
									<td class="col-type" th:text="${layerGroup.userId}"></td>
									<td class="col-type">
										<a th:href="@{/layer/list(searchOption=0,searchWord=layer_group_name,searchValue=${layerGroup.layerGroupName})}"
										   class="linkButton">보기</a>
									</td>
									<td class="col-type">
										<div class="button-group">
											<a href="#"
											   th:onclick="moveUp([[${layerGroup.layerGroupId}]], [[${layerGroup.viewOrder}]]); return false;"
											   class="button" style="text-decoration:none;">위로</a>
											<a href="#"
											   th:onclick="moveDown([[${layerGroup.layerGroupId}]], [[${layerGroup.viewOrder}]]); return false;"
											   class="button" style="text-decoration:none;">아래로</a>
										</div>
									</td>
									<td class="col-type">
										<a th:href="@{/layer-group/modify(layerGroupId=${layerGroup.layerGroupId})}"
										   class="image-button button-edit" th:text="#{modified}"></a>&nbsp;&nbsp;
										<a th:href="@{/layer-group/delete(layerGroupId=${layerGroup.layerGroupId})}"
										   class="image-button button-delete" th:text="#{delete}"
										   onclick="return deleteWarning();"></a>
									</td>
									<td class="col-date"
										th:text="${#temporals.format(layerGroup.insertDate, 'yyyy-MM-dd HH:mm:ss')}">
									</td>
									</tr>
								</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="pageCustomScript">
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>

<script th:inline="javascript">
	//펼치기
	function openAll() {
		$(".threeDepthClass").show();
		$(".twoDepthClass").show();

		// fa-caret-right
		// fa-caret-down
		$(".oneArrow").removeClass("fa-caret-right");
		$(".oneArrow").addClass("fa-caret-down");
		$(".twoArrow").removeClass("fa-caret-right");
		$(".twoArrow").addClass("fa-caret-down");

		$(".oneFolder").removeClass("fa-folder");
		$(".oneFolder").addClass("fa-folder-open");
		$(".twoFolder").removeClass("fa-folder");
		$(".twoFolder").addClass("fa-folder-open");
	}

	// 접기
	function closeAll() {
		$(".threeDepthClass").hide();
		$(".twoDepthClass").hide();

		$(".oneArrow").removeClass("fa-caret-down");
		$(".oneArrow").addClass("fa-caret-right");
		$(".twoArrwo").removeClass("fa-caret-down");
		$(".twoArrwo").addClass("fa-caret-right");

		$(".oneFolder").removeClass("fa-folder-open");
		$(".oneFolder").addClass("fa-folder");
		$(".twoFolder").removeClass("fa-folder-open");
		$(".twoFolder").addClass("fa-folder");
	}

	// 화살표 클릭시
	function childrenDisplayToggle(depth, id, ancestor) {
		if (depth === 1) {
			if ($(".oneDepthParent-" + id).css("display") === "none") {
				// 접힌 상태
				$(".oneDepthParent-" + id).show();

				$("#oneDepthArrow-" + id).removeClass("fa-caret-right");
				$("#oneDepthArrow-" + id).addClass("fa-caret-down");
				$("#oneDepthFolder-" + id).removeClass("fa-folder");
				$("#oneDepthFolder-" + id).addClass("fa-folder-open");

				$(".ancestorArrow-" + ancestor).removeClass("fa-caret-down");
				$(".ancestorArrow-" + ancestor).addClass("fa-caret-right");
				$(".ancestorFolder-" + ancestor).removeClass("fa-folder-open");
				$(".ancestorFolder-" + ancestor).addClass("fa-folder");
			} else {
				// 펼친 상태
				$(".ancestor-" + ancestor).hide();
				$(".oneDepthParent-" + id).hide();

				var clickClass = $("#oneDepthArrow-" + id).attr("class");
				if (clickClass.indexOf("right") >= 0) {
					// 닫힘 상태라 펼침
					$("#oneDepthArrow-" + id).removeClass("fa-caret-right");
					$("#oneDepthArrow-" + id).addClass("fa-caret-down");
					$("#oneDepthFolder-" + id).removeClass("fa-folder");
					$("#oneDepthFolder-" + id).addClass("fa-folder-open");
				} else {
					// 펼침 상태라 닫힘
					$("#oneDepthArrow-" + id).removeClass("fa-caret-down");
					$("#oneDepthArrow-" + id).addClass("fa-caret-right");
					$("#oneDepthFolder-" + id).removeClass("fa-folder-open");
					$("#oneDepthFolder-" + id).addClass("fa-folder");
				}

				$(".ancestorArrow-" + ancestor).removeClass("fa-caret-down");
				$(".ancestorArrow-" + ancestor).addClass("fa-caret-right");
				$(".ancestorFolder-" + ancestor).removeClass("fa-folder-open");
				$(".ancestorFolder-" + ancestor).addClass("fa-folder");
			}
		} else if (depth === 2) {
			if ($(".twoDepthParent-" + id).css("display") === "none") {
				// 접힌 상태
				$(".twoDepthParent-" + id).show();

				$("#twoDepthArrow-" + id).removeClass("fa-caret-right");
				$("#twoDepthArrow-" + id).addClass("fa-caret-down");
				$("#twoDepthFolder-" + id).removeClass("fa-folder");
				$("#twoDepthFolder-" + id).addClass("fa-folder-open");
			} else {
				// 펼친 상태
				$(".twoDepthParent-" + id).hide();

				var clickClass = $("#twoDepthArrow-" + id).attr("class");
				if (clickClass.indexOf("right") >= 0) {
					// 닫힘 상태라 펼침
					$("#twoDepthArrow-" + id).removeClass("fa-caret-right");
					$("#twoDepthArrow-" + id).addClass("fa-caret-down");
					$("#twoDepthFolder-" + id).removeClass("fa-folder");
					$("#twoDepthFolder-" + id).addClass("fa-folder-open");
				} else {
					// 펼침 상태라 닫힘
					$("#twoDepthArrow-" + id).removeClass("fa-caret-down");
					$("#twoDepthArrow-" + id).addClass("fa-caret-right");
					$("#twoDepthFolder-" + id).removeClass("fa-folder-open");
					$("#twoDepthFolder-" + id).addClass("fa-folder");
				}
			}
		}
	}

	// 위로 이동
	var upFlag = true;

	function moveUp(id, viewOrder) {
		if (upFlag) {
			upFlag = false;
			if (viewOrder === 1) {
				alert("제일 처음 입니다.");
				upFlag = true;
				return;
			}

			var formData = "updateType=UP";
			$.ajax({
				url: "/layer-groups/view-order/" + id,
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				success: function (msg) {
					if (msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
						upFlag = true;
						openAll();
					} else {
						if (msg.errorCode === "data.group.view-order.invalid") {
							alert("순서를 변경할 수 없습니다.");
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
						}
						console.log("---- " + msg.message);
						upFlag = true;
					}
				},
				error: function (request, status, error) {
					alert(JS_MESSAGE["ajax.error.message"]);
					upFlag = true;
				}
			});
		} else {
			alert("진행 중입니다.");
			return;
		}
	}

	// 아래로 이동
	var downFlag = true;

	function moveDown(id, viewOrder) {
		if (downFlag) {
			downFlag = false;
			var formData = "updateType=DOWN";
			$.ajax({
				url: "/layer-groups/view-order/" + id,
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: formData,
				success: function (msg) {
					if (msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
						downFlag = true;
						openAll();
					} else {
						if (msg.errorCode === "layer.group.view-order.invalid") {
							alert("순서를 변경할 수 없습니다.");
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
						}
						console.log("---- " + msg.message);
						downFlag = true;
					}
				},
				error: function (request, status, error) {
					alert(JS_MESSAGE["ajax.error.message"]);
					downFlag = true;
				}
			});
		} else {
			alert("진행 중입니다.");
			return;
		}
	}
</script>
</th:block>
</body>
</html>