<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<title>Layer 그룹 수정</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div class="input-header row">
							<div class="content-desc u-pull-right"><span class="icon-glyph glyph-emark-dot color-warning"></span><spring:message code='check'/></div>
						</div>
						<form id="layerGroup" th:object="${layerGroup}" method="post" th:action="@{#}" onsubmit="return false;">
						<input type="hidden" id="layerGroupId" name="layerGroupId" th:field="*{layerGroupId}" />
						<table class="input-table scope-row" summary="2D 레이어 그룹 수정 테이블">
						<caption class="hiddenTag">2D 레이어 그룹 수정</caption>
							<col class="col-label l" />
							<col class="col-input" />
							<tr>
								<th class="col-label" scope="row">
									<label for="layerGroupName">Layer 그룹명</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="layerGroupName" name="layerGroupName" th:field="*{layerGroupName}" class="l" />
								</td>
							</tr>
							<tr>
								<th class="col-label" scope="row">
									<label for="parentName">상위 그룹</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="hidden" id="parent" name="parent" th:field="*{parent}" />
		 							<input type="text" id="parentName" name="parentName" th:field="*{parentName}" class="l" th:readonly="true" />
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<span>사용여부</span>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input radio-set">
									<input type="radio" id="available1" name="available" th:field="*{available}" value="true" checked />
									<label for="available1" th:text="#{use}"></label>
									<input type="radio" id="available2" name="available" th:field="*{available}" value="false" />
									<label for="available2" th:text="#{not.use}"></label>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row"><label for="description" th:text="#{description}"></label></th>
								<td class="col-input">
									<input type="text" id="description" name="description" th:field="*{description}" class="xl" />
								</td>
							</tr>
						</table>
						<div class="button-group">
							<div class="center-buttons">
								<input type="button" th:value="#{save}" onclick="updateLayerGroup();"/>
								<a href="/layer-group/list" class="button">목록</a>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Dialog -->
	<div th:replace="~{/layer-group/layer-group-dialog :: #layerGroupDialog}"></div>
</th:block>
<th:block layout:fragment="pageCustomScript">
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>

<script th:inline="javascript">
	function validate() {
		var number = /^[0-9]+$/;
		if ($("#layerGroupName").val() === null || $("#layerGroupName").val() === "") {
			alert("레이어 그룹명을 입력해 주세요.");
			$("#layerGroupName").focus();
			return false;
		}
		if($("#parent").val() === null || $("#parent").val() === "" || !number.test($("#parent").val())) {
			alert("상위 레이어 그룹을 선택해 주세요.");
			$("#parent").focus();
			return false;
		}
	}

	var layerGroupDialog = $( ".dialog" ).dialog({
		autoOpen: false,
		height: 600,
		width: 1200,
		modal: true,
		overflow : "auto",
		resizable: false
	});

	// 상위 Layer Group 찾기
	$( "#layerGroupButtion" ).on( "click", function() {
		layerGroupDialog.dialog( "open" );
		layerGroupDialog.dialog( "option", "title", "Layer 그룹 선택");
	});

	// 다이얼로그에서 선택
	function confirmParent(parent, parentName, parentDepth) {
		if(parentDepth >= 3) {
			alert("레이어 그룹은 3Depth 이상 계층으로 입력할 수 없습니다.");
			return;
		}
		$("#parent").val(parent);
		$("#parentName").val(parentName);
		layerGroupDialog.dialog( "close" );
	}

	$( "#rootParentSelect" ).on( "click", function() {
		$("#parent").val(0);
		$("#parentName").val("${layerGroup.parentName}");
		layerGroupDialog.dialog( "close" );
	});

	// 저장
	var updateLayerGroupFlag = true;
	function updateLayerGroup() {
		if (validate() === false) {
			return false;
		}
		if(updateLayerGroupFlag) {
			updateLayerGroupFlag = false;
			var formData = $("#layerGroup").serialize();
			$.ajax({
				url: "/layer-groups/update",
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
		        data: formData,
				success: function(msg){
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
						console.log("---- " + msg.message);
					}
					updateLayerGroupFlag = true;
				},
				error:function(request, status, error){
			        alert(JS_MESSAGE["ajax.error.message"]);
			        updateLayerGroupFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.dobule.click"]);
			return;
		}
	}
</script>
</body>
</html>