<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
	<div id="userTab">
		<form id="policyUser" th:object="${policy}" method="post" th:action="@{#}" onsubmit="return false;">
			<table class="input-table scope-row" summary="환경설정 사용자 테이블 ">
			<caption class="hiddenTag">환경설정 사용자</caption>
				<col class="col-label l" />
				<col class="col-input" />
				<tr>
					<th class="col-label l" scope="row">
						<label for="userIdMinLength">사용자 아이디 최소길이</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="userIdMinLength" name="userIdMinLength" th:field="*{userIdMinLength}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">이상</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label path="userFailSigninCount">로그인 실패 횟수</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="userFailSigninCount" name="userFailSigninCount" th:field="*{userFailSigninCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">회</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label path="userFailLockRelease">로그인 실패 잠금 해제 기간</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="userFailLockRelease" name="userFailLockRelease" th:field="*{userFailLockRelease}" class="s" maxlength="3" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">일</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label path="userLastSigninLock">마지막 로그인으로부터 잠금 기간</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="userLastSigninLock" name="userLastSigninLock" th:field="*{userLastSigninLock}" class="s" maxlength="3" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">일</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label>중복 로그인 허용</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input radio-set">
						<input type="radio" id="userDuplicationSigninYn1" name="userDuplicationSigninYn" th:field="*{userDuplicationSigninYn}" value="Y" />
						<label for="userDuplicationSigninYn1" th:text="#{use}"></label>
						<input type="radio" id="userDuplicationSigninYn2" name="userDuplicationSigninYn" th:field="*{userDuplicationSigninYn}" value="N" />
						<label for="userDuplicationSigninYn2" th:text="#{not.use} +'(기본값)'"></label>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label>사용자 로그인 인증 방법</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input radio-set">
						<input type="radio" id="userSigninType" name="userSigninType" th:field="*{userSigninType}" value="0" />
						<label for="userSigninType" th:text="'일반(아이디/비밀번호)(기본값)'"></label>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label>사용자 정보 삭제 방법</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input radio-set">
						<input type="radio" id="userDeleteType1" name="userDeleteType" th:field="*{userDeleteType}" value="0" />
						<label for="userDeleteType1" th:text="'논리적(기본값)'"></label>
						<input type="radio" id="userDeleteType2" name="userDeleteType" th:field="*{userDeleteType}" value="1" />
						<label for="userDeleteType2" th:text="'물리적(DB 삭제)'"></label>
					</td>
				</tr>
			</table>
			<div class="button-group">
				<div class="center-buttons">
					<a href="#" class="button" th:text="#{save}" onclick="updatePolicyUser();"></a>
				</div>
			</div>
		</form>
	</div>
</html>