<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
	<div id="passwordTab">
		<form id="policyPassword" th:object="${policy}" method="post" th:action="@{#}" onsubmit="return false;">
			<table class="input-table scope-row" summary="환경설정 비밀번호 테이블">
			<caption class="hiddenTag">환경설정 비밀번호</caption>
				<col class="col-label l" />
				<col class="col-input" />
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordChangeTerm">패스워드 변경 주기</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordChangeTerm" name="passwordChangeTerm" th:field="*{passwordChangeTerm}" class="s" maxlength="3" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">일</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordMinLength">패스워드 최소 길이</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordMinLength" name="passwordMinLength" th:field="*{passwordMinLength}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">자</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordMaxLength">패스워드 최대 길이</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordMaxLength" name="passwordMaxLength" th:field="*{passwordMaxLength}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">자</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordEngUpperCount">패스워드 영문 대문자 개수</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordEngUpperCount" name="passwordEngUpperCount" th:field="*{passwordEngUpperCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordEngLowerCount">패스워드 영문 소문자 개수</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordEngLowerCount" name="passwordEngLowerCount" th:field="*{passwordEngLowerCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordNumberCount">패스워드 숫자 개수</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordNumberCount" name="passwordNumberCount" th:field="*{passwordNumberCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordSpecialCharCount">패스워드 특수문자 개수</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordSpecialCharCount" name="passwordSpecialCharCount" th:field="*{passwordSpecialCharCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordContinuousCharCount">패스워드 연속문자 제한 개수</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordContinuousCharCount" name="passwordContinuousCharCount" th:field="*{passwordContinuousCharCount}" class="s" maxlength="2" onKeyPress="return numkeyCheck(event);" />
						<span class="table-desc">개</span>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label>초기 패스워드 생성 방법</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input radio-set">
						<input type="radio" id="passwordCreateType1" name="passwordCreateType" th:field="*{passwordCreateType}" value="0" />
						<label for="passwordCreateType1">사용자ID+초기문자(기본값)</label>
						<input type="radio" id="passwordCreateType2" name="passwordCreateType" th:field="*{passwordCreateType}" value="1" />
						<label for="passwordCreateType2">초기문자</label>
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordCreateChar">초기 패스워드 생성 문자열</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordCreateChar" name="passwordCreateChar" th:field="*{passwordCreateChar}" class="s" maxlength="32" />
					</td>
				</tr>
				<tr>
					<th class="col-label l" scope="row">
						<label for="passwordExceptionChar">초기 패스워드로 사용할수 없는 특수문자</label>
						<span class="icon-glyph glyph-emark-dot color-warning"></span>
					</th>
					<td class="col-input">
						<input type="text" id="passwordExceptionChar" name="passwordExceptionChar" th:field="*{passwordExceptionChar}" class="s" maxlength="10" />
					</td>
				</tr>
			</table>
			<div class="button-group">
				<div class="center-buttons">
					<a href="#" class="button" th:text="#{save}" onclick="updatePolicyPassword();"></a>
				</div>
			</div>
		</form>
	</div>
</html>