<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="api3" class="api-help-toggle">
	<div class="menu_tab">
		<ul>
			<li class="fst active"><a href="#" onclick="tabMenu(0);">Run</a></li>
			<li><a href="#" onclick="tabMenu(1);">Code</a></li>
		</ul>
	</div>
	<div id="panels" class="menu_tab00 mTs">
		<h2>changeOriginAPI</h2>
		<p>Origin is displayed or hidden by changing the value of changeOriginAPI activation.</p>
		<table>
		<caption>Parameter</caption>
			<tr>
				<th scope="col">name</th>
				<th scope="col">type</th>
				<th scope="col">description</th>
			</tr>
			<tr>
				<td>managerFactoryInstance</td>
				<td>ManagerFactory</td>
				<td>start of mago3D</td>
			</tr>
			<tr>
				<td>isShow</td>
				<td>Boolean</td>
				<td>true: active, false: Inactive</td>
			</tr>
		</table>
		<br/>
		<h4>Execution</h4>
		<div class="paramContainer">
			<input type="radio" id="api3-opt1" name="api3-p1" value="true" />
			<label for="api3-opt1">active</label>
			<input type="radio" id="api3-opt2" name="api3-p1" value="false" checked />
			<label for="api3-opt2">Inactive</label>
		</div>
		<br/> 
		<input type="button" id="changeOrigin" value="Run" class="popupBtn">
	</div>
	<div id="panels" class="menu_tab01 mTs" style="display: none;"></div>
</div>
<script>
	var changeOrigin = function() {

		var flag = $("input[name=api3-p1]:checked").val();
		flag = (flag === 'true');

		changeOriginAPI(MAGO3D_INSTANCE2, flag);
	}
</script>
</html>