<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.AccessLogMapper">

    <!-- 서비스 요청 이력 총 건수 -->
    <select id="getAccessLogTotalCount" parameterType="accessLog" resultType="long">
        /* getAccessLogTotalCount */
        SELECT COUNT(access_log_id) 
        FROM access_log
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
			AND ${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
			AND ${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="startDate != null and startDate != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{startDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="endDate != null and endDate != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{endDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim>
    </select>

    <!-- 서비스 요청 이력 목록 -->
    <select id="getListAccessLog" parameterType="accessLog" resultType="accessLog">
        /* getListAccessLog */
        SELECT access_log_id, user_id, user_name, client_ip, request_uri, substring(parameters from 0 for 35) AS parameters, substring(user_agent from 0 for 20) AS user_agent, referer, insert_date
        FROM access_log
        <trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
			AND ${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
			AND ${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="startDate != null and startDate != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{startDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="endDate != null and endDate != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{endDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim> 
        <choose>
		<when test="orderWord != null and orderWord != '' and orderValue != null and orderValue != ''">
		ORDER BY ${orderWord} ${orderValue}
		</when>
		<otherwise>
		ORDER BY insert_date DESC, access_log_id DESC
		</otherwise>
		</choose>
		OFFSET #{offset} LIMIT #{limit}
    </select>
	
	<!-- 서비스 요청 이력 정보 -->
	<select id="getAccessLog" parameterType="long" resultType="accessLog">
		/* getAccessLog */
		SELECT * FROM access_log WHERE access_log_id = #{accessLogId}
	</select>

	<!-- 다음년도 파티션 테이블 자동 생성 -->
	<select id="createPartitionTable" parameterType="partitionTable" resultType="int">
		SELECT create_access_log( '${tableName}', '${startTime}', '${endTime}' )
	</select>

	<!-- 서비스 요청 이력 등록 -->
	<insert id="insertAccessLog" parameterType="accessLog" >
		/* insertAccessLog */
		<selectKey keyProperty="accessLogId" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('access_log_seq')
  		</selectKey>
		INSERT INTO access_log(
			access_log_id, user_id, user_name, client_ip, request_uri, parameters, user_agent, referer
		) VALUES (
			#{accessLogId}, #{userId}, #{userName}, #{clientIp}, #{requestUri}, #{parameters}, #{userAgent}, #{referer}
		)
	</insert>

</mapper>