<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.DataObjectAttributeMapper">

	<!-- 데이터 Object 속성 정보를 취득 -->
	<select id="getDataObjectAttribute" parameterType="long" resultType="dataObjectAttribute">
		/* getDataObjectAttribute */
		SELECT * FROM data_object_attribute WHERE data_id = #{dataId}
	</select>

	<!-- 데이터 Object 속성 정보 등록 -->
	<insert id="insertDataObjectAttribute" parameterType="dataObjectAttribute">
		/* insertDataObjectAttribute */
		<selectKey keyProperty="dataObjectAttributeId" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('data_object_attribute_seq')
  		</selectKey>
		INSERT INTO data_object_attribute (
			data_object_attribute_id, data_id, object_id, attributes
		) VALUES (
			#{dataObjectAttributeId}, #{dataId}, #{objectId}, TO_JSON(#{attributes}::json)
		)
	</insert>

	<!-- 파일 정보 저장 -->
	<insert id="insertDataObjectAttributeFileInfo" parameterType="dataObjectAttributeFileInfo" >
		/* insertDataObjectAttributeFileInfo */
		<selectKey keyProperty="dataObjectAttributeFileInfoId" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('data_attribute_file_info_seq')
  		</selectKey>
		INSERT INTO data_object_attribute_file_info (
			data_object_attribute_file_info_id, data_id, user_id, file_name, file_real_name, file_path, file_size, file_ext
		) VALUES (
			#{dataObjectAttributeFileInfoId}, #{dataId}, #{userId}, #{fileName}, #{fileRealName}, #{filePath}, #{fileSize}, #{fileExt}
		)
	</insert>
	
	<!-- 데이터 속성 정보 수정 -->
	<update id="updateDataObjectAttribute" parameterType="dataObjectAttribute">
		/* updateDataObjectAttribute */
		UPDATE data_object_attribute
		SET attributes = TO_JSON(#{attributes}::json),
			update_date = now()
		WHERE data_object_attribute_id = ${dataObjectAttributeId}
	</update>
	
	<!-- 데이터 속성 파일 정보 수정 -->
	<update id="updateDataObjectAttributeFileInfo" parameterType="dataObjectAttributeFileInfo">
		/* updateDataObjectAttributeFileInfo */
		UPDATE data_object_attribute_file_info
		SET total_count = #{totalCount},
			parse_success_count = #{parseSuccessCount},
			parse_error_count = #{parseErrorCount},
			insert_success_count = #{insertSuccessCount},
			insert_error_count = #{insertErrorCount}
		WHERE data_object_attribute_file_info_id = #{dataObjectAttributeFileInfoId}
	</update>
</mapper>