<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.WidgetMapper">

	<!-- 위젯 목록 -->
	<select id="getListWidget" parameterType="widget" resultType="widget">
		SELECT * 
		FROM widget 
		ORDER BY view_order
		<if test="limit != null and limit > 0">
		LIMIT ${limit}
		</if>
	</select>
	
	<!-- widget_id 최대값 -->
	<select id="getMaxWidgetId" resultType="long">
		/* getMaxWidgetId */
		SELECT COALESCE(MAX(widget_id), 0) + 1 FROM widget
	</select>

	<!-- 위젯 등록 -->
	<insert id="insertWidget" parameterType="widget">
		/* insertWidget */
		INSERT INTO widget(
			widget_id, widget_name, widget_key, view_order, user_id
		) values(
			#{widgetId}, #{widgetName}, #{widgetKey}, #{viewOrder}, #{userId}
		)
	</insert>
	
	<!-- 위젯 수정 -->	
	<update id="updateWidget" parameterType="widget">
		/* updateWidget */
		UPDATE widget
		SET 
			<if test="widgetName != null and widgetName != ''">
			widget_name = #{widgetName},
			</if>
			view_order = #{viewOrder},
			user_id = #{userId}
		WHERE widget_id = #{widgetId}
	</update>

</mapper>