<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow">
	<title>사용자 등록 | mago3D</title>
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
</head>
<body>
<th:block layout:fragment="pageCustomContent">
    <div class="site-body">
        <div class="container">
            <div class="site-content">
                <div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
                <div class="page-area">
                    <div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
                    <div class="page-content">
                        <div class="input-header row">
                            <div class="content-desc u-pull-right">
                                <span class="icon-glyph glyph-emark-dot color-warning"></span>
                                <th:block th:text="#{check}"></th:block>
                            </div>
                        </div>

                        <!-- S: 사용자 등록 -->
                        <form id="userInfo"  th:object ="${userInfo}" method="post" th:action="@{#}" onsubmit="return false;">
                            <table class="input-table scope-row" summary="사용자 정보 등록 테이블">
                                <caption class="hiddenTag">사용자 등록</caption>
                                <colgroup>
                                    <col class="col-label"></col>
                                    <col class="col-input"></col>
                                </colgroup>
                                <tr>
                                    <th class="col-label" scope="row">
                                        <label for="userGroupName" th:text="#{user.group.name}"></label>
                                        <span class="icon-glyph glyph-emark-dot color-warning"></span>
                                    </th>
                                    <td class="col-input">
                                        <input type="hidden" id="userGroupId" name="userGroupId" />
                                        <input type="text" id="userGroupName" class="l" readonly="true" />
                                        <input type="button" id="userGroupButton" value="상위 사용자 그룹 선택" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-label" scope="row">
                                        <label for="userId" th:text="#{user.id}"></label>
                                        <span class="icon-glyph glyph-emark-dot color-warning"></span>
                                    </th>
                                    <td class="col-input">
                                        <input type="hidden" id="duplicationValue" />
                                        <input type="text" id="userId" name="userId" class="m" />
                                        <input type="button" id="userDuplicationButton" th:value="#{overlap.check}" />
                                        <span class="table-desc" style="padding-left: 5px;" th:text="#{minimum.length}"><th:block th:text="${policy.userIdMinLength}"></th:block></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-label" scope="row">
                                        <label for="userName" th:text="#{name}"></label>
                                        <span class="icon-glyph glyph-emark-dot color-warning"></span>
                                    </th>
                                    <td class="col-input">
                                        <input type="text" id="userName" name="userName" class="m" maxlength="64" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-label" scope="row">
                                        <label for="password" th:text="#{password}"></label>
                                        <span class="icon-glyph glyph-emark-dot color-warning"></span>
                                    </th>
                                    <td class="col-input">
                                        <input type="password" id="password" name="password" class="m" />
                                        <span class="table-desc">
                                            <th:block th:text="#{user.input.upper.case}"></th:block><th:block th:text="|${policy.passwordEngUpperCount}, |"></th:block>
                                            <th:block th:text="#{user.input.lower.case}"></th:block><th:block th:text="|${policy.passwordEngLowerCount}, |"></th:block>
                                            <th:block th:text="#{user.input.number}"></th:block><th:block th:text="|${policy.passwordNumberCount}, |"></th:block>
                                            <th:block th:text="#{user.input.special.characters}"></th:block><th:block th:text="|${policy.passwordSpecialCharCount} |"></th:block>
                                            <th:block th:text="#{user.input.special.characters.need}"></th:block><th:block th:text="|${policy.passwordMinLength} ~ ${policy.passwordMaxLength} |"></th:block>
                                            <th:block th:text="#{user.input.do}">
										</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-label" scope="row">
                                        <label for="passwordConfirm" th:text="#{password.check}"></label>
                                        <span class="icon-glyph glyph-emark-dot color-warning"></span>
                                    </th>
                                    <td class="col-input">
                                        <input type="password" id="passwordConfirm" name="passwordConfirm" class="m" />
                                    </td>
                                </tr>
                            </table>

                            <div class="button-group">
                                <div id="insertUserLink" class="center-buttons">
                                    <input type="submit" th:value="#{save}" onclick="insertUser();" />
                                    <input type="submit" onClick="formClear(); return false;" value="초기화" />
                                    <a href="/user/list" class="button" th:text="#{list}"></a>
                                </div>
                            </div>
                        </form>
                        <!-- E: 사용자 등록 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 사용자 그룹 -->
    <div th:replace="~{/user-group/user-group-list-dialog :: #userGroupListDialog}"></div> 
</th:block>
<th:block layout:fragment="pageCustomScript">		
<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
	});

	var userDialog = $("#userGroupListDialog").dialog({
		autoOpen: false,
		height: 600,
		width: 1200,
		modal: true,
		overflow : "auto",
		resizable: false
	});

	// 부모 찾기
	$("#userGroupButton").on("click", function() {
		userDialog.dialog("open");
		userDialog.dialog("option", "title", "사용자 그룹 선택");
		$('#rootParentSelect').hide();
	});

	// 상위 Node
	function confirmParent(parent, parentName) {
		$("#userGroupId").val(parent);
		$("#userGroupName").val(parentName);
		userDialog.dialog("close");
	}

	// 입력값이 변경되면 중복체크, 영문+숫자
	$("#userId").on("keyup", function(event) {
		$("#duplicationValue").val(null);
		if (!(event.keyCode >=37 && event.keyCode<=40)) {
			var inputValue = $(this).val();
			$(this).val(inputValue.replace(/[^a-z0-9]/gi,''));
		}
	});

	// 아이디 중복 확인
 	$("#userDuplicationButton").on("click", function() {
		var userId = $("#userId").val();
		if (userId == "") {
			alert(JS_MESSAGE["user.id.empty"]);
			$("#userId").focus();
			return false;
		} else if (userId.length < "[[${policy.userIdMinLength}]]"*1) {
			alert(JS_MESSAGE["user.id.min_length.invalid"]);
			$("#userId").focus();
			return false;
		}
		$.ajax({
			url: "/users/duplication",
			type: "GET",
			data: {"userId": userId},
			headers: {"X-Requested-With": "XMLHttpRequest"},
			dataType: "json",
			success: function(msg){
				if(msg.statusCode <= 200) {
					if(msg.duplication == true) {
						alert(JS_MESSAGE["user.id.duplication"]);
						$("#userId").focus();
						return false;
					} else {
						alert(JS_MESSAGE["user.id.enable"]);
						$("#duplicationValue").val(msg.duplication);
					}
				} else {
					alert(JS_MESSAGE[msg.errorCode]);
					console.log("---- " + msg.message);
				}
			},
			error:function(request, status, error) {
				//alert(JS_MESSAGE["ajax.error.message"]);
				alert(" code : " + request.status + "\n" + ", message : " + request.responseText + "\n" + ", error : " + error);
    		}
		});
	});

	// 사용자 등록
	var insertUserFlag = true;
	function insertUser() {
		if (checkData() == false) {
			return false;
		}
		if(insertUserFlag) {
			insertUserFlag = false;
			var info = $("#userInfo").serialize();
			$.ajax({
				url: "/users/insert",
				type: "POST",
				data: info,
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg){
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["user.insert"]);
						window.location.reload();
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
						console.log("---- " + msg.message);
					}
					insertUserFlag = true;
				},
				error:function(request,status,error){
			        alert(JS_MESSAGE["ajax.error.message"]);
			        alert(" code : " + request.status + "\n" + ", message : " + request.responseText + "\n" + ", error : " + error);
			        insertUserFlag = true;
				}
			});
		} else {
			alert(JS_MESSAGE["button.dobule.click"]);
			return;
		}
	}

	function checkData() {
		var passwordValidation = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!#^%*?&])[A-Za-z\d$@$!#^%*?&]{[[${policy.passwordMinLength}]],[[${policy.passwordMaxLength}]]}$/;

		if($("#duplicationValue").val() == null || $("#duplicationValue").val() == "") {
			alert(JS_MESSAGE["check.id.duplication"]);
			return false;
		} else if($("#duplicationValue").val() == "1") {
			alert(JS_MESSAGE["user.id.duplication"]);
			return false;
		}
		if (!$("#userGroupId").val()) {
			alert(JS_MESSAGE["user.group.select"]);
			$("#userGroupId").focus();
			return false;
		}
		if (!$("#userName").val()) {
			alert(JS_MESSAGE["user.name.empty"]);
			$("#userName").focus();
			return false;
		}
		if (!$("#password").val()) {
			alert(JS_MESSAGE["password.empty"]);
			$("#password").focus();
			return false;
		} else if(!passwordValidation.test($("#password").val())) {
			alert(JS_MESSAGE["user.password.invalid"]);
			$("#password").focus();
			return false;
		} else if($("#passwordConfirm").val() == "") {
			alert(JS_MESSAGE["password.correct.empty"]);
			$("#passwordConfirm").focus();
			return false;
		} else if($("#password").val() !== $("#passwordConfirm").val()) {
			alert("입력한 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
			$("#passwordConfirm").focus();
			return false;
		}
	}

	// 초기화
	function formClear() {
		$("#userId").val("");
		$("#userGroupId").val("");
		$("#userGroupName").val("");
		$("#userName").val("");
		$("#password").val("");
		$("#passwordConfirm").val("");
		$("#duplicationValue").val("");
	}

</script>
</th:block>
</body>
</html>