<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow">
	<title>사용자 수정 | mago3D</title>
	<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/externlib/dropzone/dropzone.min.css(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}" />
	<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div class="site-body">
		<div class="container">
			<div class="site-content">
				<!-- <div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div> -->
				<div class="page-area" style="margin-right: 230px;">
					<div id="pageHeaderWrap" class="page-header row">
						<h2 class="page-title u-pull-left" th:text="|비밀번호 변경|"></h2>
					</div>
					<!-- <div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div> -->
					<div class="page-content">
						<div class="input-header row">
							<th:block th:if="${userInfo.errorCode}">
								<div class="list-desc u-pull-left">
									<h6 style="padding-left: 10px; color: red;">* 
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.exception')}" th:text="#{user.password.exception}"></th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.invalid')}" th:text="#{user.password.invalid}"></th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.compare.invalid')}" th:text="#{user.password.compare.invalid}"></th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.exception.char')}"
					  th:text="|#{user.special.char} ${policy.password_exception_char} #{user.password.exception.char}|">
			</th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.digit.invalid')}" th:text="#{user.password.digit.invalid}"></th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.upper.invalid')}" th:text="#{user.password.upper.invalid}"></th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.lower.invalid')}" th:text="#{user.password.lower.invalid}"></th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.special.invalid')}" th:text="#{user.password.special.invalid}"></th:block>
			<th:block th:if="${#strings.equals(userInfo.errorCode, 'user.password.continuous.char.invalid')}" th:text="#{user.password.continuous.char.invalid}"></th:block>
									</h6>
								</div>
		</th:block>
								<!-- <div class="content-desc u-pull-right">
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
									<th:block th:text="#{common.check}"></th:block>
								</div> -->
							</div>
							<form id="userInfo" th:object="${userInfo}" method="post" th:action="@{/user/update-password}" onsubmit="return check();">
							<table class="input-table scope-row">
								<col class="col-label" />
								<col class="col-input" />
								<tr>
									<th class="col-label" scope="row">
										<label for="password" th:text="#{user.password.current}"></label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="password" id="password" name="password" class="m" />
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="newPassword" th:text="#{user.password.new}"></label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="password" id="newPassword" name="newPassword" class="m" />
										<span class="table-desc" th:text="|#{user.en.upper.char} ${policy.passwordEngUpperCount}, #{user.en.lower.char} ${policy.passwordEngLowerCount},
											 #{user.number.char} ${policy.passwordNumberCount}, #{user.special.char} ${policy.passwordSpecialCharCount} #{user.password.length} #{user.required.char}
											 ${policy.passwordMinLength} ~ ${policy.passwordMaxLength} #{user.password.length}|"></span>
									</td>
								</tr>
								<tr>
									<th class="col-label" scope="row">
										<label for="newPasswordConfirm" th:text="#{user.password.confirm}"></label>
										<span class="icon-glyph glyph-emark-dot color-warning"></span>
									</th>
									<td class="col-input">
										<input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="m" />
									</td>
								</tr>
							</table>
							
							<div class="button-group">
								<div id="insertServerLink" class="center-buttons">
									<input type="submit" th:value="#{user.password.change}" />
									<a href="/sign/signin" class="button" th:text="#{user.password.change.next}" onclick="return laterChangePasswordConfirm();" ></a>
								</div>
							</div>
						</form>
						<!-- E: 사용자 비밀번호 변경 -->
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!-- 사용자 그룹 -->
    <!-- <div th:replace="~{/user-group/user-group-list-dialog :: #userGroupListDialog}"></div>  -->
</th:block>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang}, cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#password").focus();
	});

	function check() {
		if ($("#password").val() === "") {
			alert(JS_MESSAGE["password.empty"]);
			$("#password").focus();
			return false;
		}
		if ($("#newPassword").val() === "") {
			alert(JS_MESSAGE["password.new"]);
			$("#newPassword").focus();
			return false;
		}
		if ($("#newPasswordConfirm").val() === "") {
			alert(JS_MESSAGE["password.correct.empty"]);
			$("#newPasswordConfirm").focus();
			return false;
		}
		if ($("#password").val() === $("#newPassword").val()) {
			alert(JS_MESSAGE["password.match.current"]);
			$("#newPassword").focus();
			return false;
		}
		if ($("#newPassword").val() !== $("#newPasswordConfirm").val()) {
			alert(JS_MESSAGE["password.not.match.new"]);
			$("#newPasswordConfirm").focus();
			return false;
		}	
	}

	function laterChangePasswordConfirm() {
		return confirm(JS_MESSAGE["password.change.next"]);
	}
</script>
</th:block>
</body>
</html>