<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>대시보드 | mago3D</title>
    <link rel="stylesheet" href="/css/${lang}/font/font.css?cacheVersion=${contentCacheVersion}" />
    <link rel="stylesheet" href="/images/${lang}/icon/glyph/glyphicon.css?cacheVersion=${contentCacheVersion}" />
    <link rel="stylesheet" href="/externlib/normalize/normalize.min.css?cacheVersion=${contentCacheVersion}" />
    <link rel="stylesheet" href="/externlib/jquery-ui-1.12.1/jquery-ui.min.css?cacheVersion=${contentCacheVersion}" />
    <link rel="stylesheet" href="/externlib/jqplot/jquery.jqplot.min.css?cacheVersion=${contentCacheVersion}" />
    <link rel="stylesheet" href="/css/fontawesome-free-5.2.0-web/css/all.min.css?cacheVersion=${contentCacheVersion}">
    <link rel="stylesheet" href="/css/${lang}/admin-style.css?cacheVersion=${contentCacheVersion}" />
</head>

<body>
<div th:replace="~{/layouts/header :: #headerWrap}"></div>

	<div class="wrapper">
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div th:replace="~{/layouts/left-menu :: #leftMenu}"></div>
		</div>
		
		<div id="content-wrapper">
	        <div class="container-fluid">
	            <!-- Page Content -->
	            <th:block layout:fragment="content"></th:block>
	            <!-- Page Content -->
	        </div>
	    </div>
	</div>
	
	<!-- Footer -->
    <footer>
        <th:block th:replace="/layouts/footer"></th:block>
    </footer>

    <!-- External JavaScript -->
    <script th:src="@{'/webjars/jquery/dist/jquery.min.js' + '?cacheVersion=' + ${contentCacheVersion}}"></script>
    <script th:src="@{'/webjars/jquery-ui/jquery-ui.min.js' + '?cacheVersion=' + ${contentCacheVersion}}"></script>
    <script th:src="@{'/webjars/bootstrap/js/bootstrap.min.js' + '?cacheVersion=' + ${contentCacheVersion}}"></script>
    <script th:src="@{'/js/common.js' + '?cacheVersion=' + ${contentCacheVersion}}"></script>
    <script th:src="@{'/js/message.js' + '?cacheVersion=' + ${contentCacheVersion}}"></script>
    <!-- Page Script -->
    <th:block layout:fragment="pageCustomScript"></th:block>
</body>

</html>
