<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="errorDialog" title="에러 정보">
        <table class="inner-table scope-row">
            <colgroup>
                <col class="col-label"></col>
                <col class="col-data"></col>
            </colgroup>
            <tr>
                <th class="col-label" scope="row">에러 메시지</th>
                <td id="dialog_error_code" class="col-data"></td>
            </tr>
        </table>
    </div>
</body>
</html>
