<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<title>Tile 수정</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}" />
		<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.2.0-web/css/all.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang},cacheVersion=${contentCacheVersion})}" />
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div id="siteBody" class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<form id="tileInfo" th:object="${tileInfo}" method="post" th:action="@{#}" onsubmit="return false;">
							<input type="hidden" name="_method" value="PUT" />
						<table class="input-table scope-row" summary="타일 수정 테이블">
						<caption class="hiddenTag">타일 수정</caption>
							<col class="col-label l" />
							<col class="col-input" />
							<tr>
								<th class="col-label l" scope="row">
									<label for="tileName">타일 명</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="tileName" name="tileName" th:field="*{tileName}" class="l" size="70" />
								</td>
							</tr>
							<tr>
								<th class="col-label" scope="row">
									타일 Key(영문,숫자,-,_)
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="text" id="tileKey" name="tileKey" th:field="*{tileKey}" readonly="readonly" class="l" />
								</td>
							</tr>
							<tr>
								<th class="col-label" scope="row">
									<label for="viewDataGroupNames">타일 대상 데이터 그룹</label>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input">
									<input type="hidden" id="dataGroupCheckIds" name="dataGroupCheckIds" th:field="*{dataGroupCheckIds}" />
									<input type="text" id="viewDataGroupNames" name="viewDataGroupNames" class="l" th:field="*{viewDataGroupNames}" readonly="readonly" />
									<input type="button" id="dataGroupButton" value="데이터 그룹 선택" />
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row">
									<span>사용 유무</span>
									<span class="icon-glyph glyph-emark-dot color-warning"></span>
								</th>
								<td class="col-input radio-set">
									<input type="radio" id="availableTrue" name="available" value="true" checked />
									<label for="availableTrue">사용</label>
									<input type="radio" id="availableFalse" name="available" value="false" />
									<label for="availableFalse">미사용</label>
								</td>
							</tr>
							<tr>
								<th class="col-label l" scope="row"><label for="description">설명</label></th>
								<td class="col-input"><input type="text" id="description" name="description" th:field="*{description}" class="xl" size="100" /></td>
							</tr>
						</table>
						<div class="button-group">
							<div id="insertTileLink" class="center-buttons">
								<input type="submit" value="저장" onclick="update();" />
								<a href="/tile/list" class="button">목록</a>
							</div>
						</div>
						</form>
					</div>

					<!-- 데이터 그룹 선택 다이얼 로그 -->
					<div th:replace="~{/tile/data-group-dialog :: #dataGroupDialog}"></div>

				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="pageCustomScript">

	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>

<script th:inline="javascript">
	$(document).ready(function() {
		$("[name=available]").filter("[value='[[${tileInfo.available}]]']").prop("checked", true);
	});

	function check() {
		if( $("#tileName").val().trim() === "" ) {
			alert("타일명을 입력하여 주십시오.");
			$("#tileName").focus();
			return false;
		}
	}

	var updateTileFlag = true;
	function update() {
		if(check() === false) return false;

		if(updateTileFlag) {
			updateTileFlag = false;
			$.ajax({
				url: "/tiles/[[${tileInfo.tileId}]]",
				type: "POST",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				data: $("#tileInfo").serialize(),
				dataType: "json",
				success: function(msg) {
					if(msg.statusCode <= 200) {
						alert(JS_MESSAGE["update"]);
						window.location.reload();
					} else {
						alert(JS_MESSAGE[msg.errorCode]);
						console.log("---- " + msg.message);
					}
					updateTileFlag = true;
				},
				error: function(request, status, error) {
					// alert message, 세션이 없는 경우 로그인 페이지로 이동 - common.js
					// ajaxErrorHandler(request);
					updateTileFlag = true;
				}
			});
		} else {
			alert("진행 중입니다.");
			return;
		}
	}

	var dataGroupDialog = $( ".dialog" ).dialog({
		autoOpen: false,
		height: 500,
		width: 1000,
		modal: true,
		overflow : "auto",
		resizable: false
	});

	// 상위 데이터 그룹 찾기
	$( "#dataGroupButton" ).on( "click", function() {
		dataGroupDialog.dialog( "open" );
		dataGroupDialog.dialog( "option", "title", "데이터 그룹 선택");
	});

	$( "#tileDataGroupSelect" ).on( "click", function() {
		if($("input:checkbox[name=dataGroupId]:checked").length == 0) {
			alert(JS_MESSAGE["check.value.required"]);
			return false;
		} else {
			var checkedName = "";
			var checkedValue = "";

			$("input:checkbox[name=dataGroupId]:checked").each(function(index) {
				var values = $(this).val().split("_");
				checkedName += values[1] + ",";
				checkedValue += values[0] + ",";
			});
			$("#dataGroupCheckIds").val(checkedValue);
			$("#viewDataGroupNames").val(checkedName);
		}

		dataGroupDialog.dialog( "close" );
	});

</script>
</th:block>
</body>
</html>