<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<title>Layer 수정</title>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
<!--	<div class="site-body">-->
<!--		<div class="container">-->
<!--			<div class="site-content">-->
				<div th:replace="~{/layouts/sub-menu :: #subMenuWrap}"></div>
<!--				<div class="page-area">-->
<!--					<div th:replace="~{/layouts/page-header :: #pageHeaderWrap}"></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

<!--	<div th:replace="~{/layer/loading-dialog :: #layerLoadingDialog}"></div>-->
<!--	<div th:replace="~{/layer/layer-group-dialog :: #layerGroupDialog}"></div>-->

</th:block>
</body>
</html>