<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="userPolicyContent" class="contents yScroll fullHeight" style="display:none;">
<div class="userPolicyContentWrap">
<form id="userPolicy" th:object="${userPolicy}" method="post" onsubmit="return false;" th:action="@{#}">
<input type="hidden" th:id="userPolicyId" th:name="userPolicyId"/>
<div class="userPolicyContent">
	<div class="button-group-align marB10">
		<h3 class="h3-heading">시작 위치</h3>
		<button type="button" id="findStartPoint" class="btnTextF right-align">선택</button>
	</div>
	<div class="userPolicyContentDetail">
		<div class="form-group form-group-policy">
			<label for="initLongitude">경도</label>
			<input type="text" id="initLongitude" name="initLongitude" size="15" th:value="${userPolicy.initLongitude}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="initLatitude">위도</label>
			<input type="text" id="initLatitude" name="initLatitude" size="15" th:value="${userPolicy.initLatitude}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="initAltitude">높이</label>
			<input type="text" id="initAltitude" name="initAltitude" size="15" th:value="${userPolicy.initAltitude}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="initDuration">이동 속도</label>
			<input type="text" id="initDuration" name="initDuration" size="15" th:value="${userPolicy.initDuration}"/>초
		</div>
	</div>
</div>
<div class="userPolicyContent">
	<h3 class="h3-heading marB10">FOV (Field Of View)</h3>
	<div class="userPolicyContentDetail">
		<div class="form-group form-group-policy">
			<label for="initfieldOfView">각도</label>
			<input type="text" id="initfieldOfView" name="initDefaultFov" size="14" th:value="${userPolicy.initDefaultFov}"/>M
		</div>
	</div>
</div>
<div class="userPolicyContent">
	<div class="button-group-align marB10">
		<h3 class="h3-heading">LOD (Level Of Detail)</h3>
		<button type="button" id="changeLodButton" class="btnTextF right-align">적용</button>
	</div>
	<div class="userPolicyContentDetail">
		<div class="form-group form-group-policy">
			<label for="geoLod0">LOD0</label>
			<input type="text" id="geoLod0" name="lod0" size="15" th:value="${userPolicy.lod0}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="geoLod1">LOD1</label>
			<input type="text" id="geoLod1" name="lod1" size="15" th:value="${userPolicy.lod1}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="geoLod2">LOD2</label>
			<input type="text" id="geoLod2" name="lod2" size="15" th:value="${userPolicy.lod2}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="geoLod3">LOD3</label>
			<input type="text" id="geoLod3" name="lod3" size="15" th:value="${userPolicy.lod3}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="geoLod4">LOD4</label>
			<input type="text" id="geoLod4" name="lod4" size="15" th:value="${userPolicy.lod4}"/>M
		</div>
		<div class="form-group form-group-policy">
			<label for="geoLod5">LOD5</label>
			<input type="text" id="geoLod5" name="lod5" size="15" th:value="${userPolicy.lod5}"/>M
		</div>
	</div>
</div>
<div class="userPolicyContent">
	<div class="button-group-align marB10">
		<h3 class="h3-heading">SSAO</h3>
		<button type="button" id="changeSsaoButton" class="btnTextF right-align">적용</button>
	</div>
	<div class="userPolicyContentDetail">
		<div class="form-group form-group-policy">
			<label for="ssaoRadius">그림자 반경</label>
			<input type="text" id="ssaoRadius" name="ssaoRadius" size="15" th:value="${userPolicy.ssaoRadius}"/>M
		</div>
	</div>
</div>
<button class="focusA btn-full" title="저장" th:onclick="'update();'">저장</button>
</form>
</div>
<script type="text/javascript" src="/externlib/jquery-3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
});

var updateUserPolicyFlag = true;
function update() {
	if(updateUserPolicyFlag) {
		updateUserPolicyFlag = false;
		var url = "/user-policy/update";
		var formData = $("#userPolicy").serialize();
		$.ajax({
			url: url,
			type: "POST",
			headers: {"X-Requested-With": "XMLHttpRequest"},
			data: formData,
			dataType: "json",
			success: function(msg) {
				if(msg.statusCode <= 200) {
					alert("저장 되었습니다.");
				} else {
					alert(msg.message);
					console.log("---- " + msg.message);
				}
				updateUserPolicyFlag = true;
			},
	        error: function(request, status, error) {
	        	alert(JS_MESSAGE["ajax.error.message"]);
	        	updateUserPolicyFlag = true;
	        }
		});
	} else {
		alert("진행 중입니다.");
		return;
	}
}
</script>
</div>
</html>
