<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="dataObjectAttributeDialog" class="basicTable" title="Data Object Attribute" style="display: none;">
		<table class="inner-table scope-row" summary="데이터 오브젝트 속성 다이얼로그">
			<caption class="hiddenTag">데이터 오브젝트 속성 다이얼로그</caption>
			<colgroup>
				<col class="col-label"></col>
				<col class="col-data"></col>
			</colgroup>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;">데이터명</th>
				<td id="dataNameForObjectAttribute" class="col-data"></td>
			</tr>
			<tr>
				<th class="col-label" scope="row" style="text-align: center; min-width: 100px;">속성</th>
				<td id="dataObjectAttributeViewer" class="col-data" style="font-size: 14px;"></td>
			</tr>
		</table>
	</div>
</body>
</html>