<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.CommonCodeMapper">

	<!-- 공통 코드 목록 -->
	<select id="getListCommonCode" resultType="commonCode">
		/* getListCommonCode*/
		SELECT * FROM common_code ORDER BY code_type, view_order
	</select>
	
	<!-- 공통 코드 정보 -->
	<select id="getCommonCode" parameterType="string" resultType="commonCode">
		/* getCommonCode */
		SELECT * FROM common_code WHERE code_key = #{code_key}
	</select>
	
	<!-- 공통 코드 등록 -->
	<insert id="insertCommonCode" parameterType="commonCode">
		/* insertCommonCode */
		INSERT INTO common_code(
			code_key, code_type, code_name, code_name_en, code_value, use_yn, view_order, css_class, image, description
		) values(
			#{code_key}, #{code_type}, #{code_name}, #{code_name_en}, #{code_value}, #{use_yn}, #{view_order}, #{css_class}, #{image}, #{description}
		)
	</insert>
	
	<!-- 공통 코드 수정 -->
	<update id="updateCommonCode" parameterType="commonCode">
		UPDATE common_code
		SET code_name = #{code_name}
		<if test="code_value != null and code_value != ''">	
			, code_value = #{code_value}
		</if>
		<if test="code_name_en != null and code_name_en != ''">	
			, code_name_en = #{code_name_en}
		</if>
		<if test="code_type != null and code_type != ''">	 
			, code_type = #{code_type}
		</if>
		<if test="use_yn != null and use_yn != ''">	
			, use_yn = #{use_yn}
		</if>
		<if test="view_order != null and view_order > 0">
			, view_order = #{view_order}
		</if>
		<if test="css_class != null and css_class != ''">	
			, css_class = #{css_class}
		</if>
		<if test="image != null and image != ''">	
			, image = #{image}
		</if> 
		<if test="description != null and description != ''">	
			, description = #{description}
		</if>
		WHERE code_key = #{code_key}
	</update>
	
	<!-- 공통 코드 삭제 -->
	<delete id="deleteCommonCode" parameterType="string">
		 DELETE FROM common_code WHERE code_key = #{code_key}
	</delete>
	
</mapper>