<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.DataLogMapper">

	<!-- 데이터 변경 요청 수 -->
	<select id="getDataInfoLogTotalCount" parameterType="dataInfoLog" resultType="long">
		/* getDataInfoLogTotalCount */
		SELECT COUNT(data_info_log_id) 
		FROM data_info_log
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="user_id != null and user_id != ''">
			AND user_id = #{user_id}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND ${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND ${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="status != null and status != ''">
			AND status = #{status}
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim>
	</select>
	
	<!-- 데이터 변경 요청 로그 목록 -->
	<select id="getListDataInfoLog" parameterType="dataInfoLog" resultType="dataInfoLog">
		/* getListDataInfoLog */
		SELECT X.*, 
			(SELECT project_name FROM project WHERE project_id = X.project_id) AS project_name
		FROM (
			SELECT A.*, B.data_name
			FROM data_info_log A, data_info B
			WHERE A.data_id = B.data_id
				<if test="user_id != null and user_id != ''">
				AND A.user_id = #{user_id}
				</if>
				<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
				AND A.${search_word} = #{search_value}
				</if>
				<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
				AND A.${search_word} LIKE '%' || #{search_value} || '%'
				</if>
				<if test="status != null and status != ''">
				AND A.status = #{status}
				</if>
				<if test="start_date != null and start_date != ''">
				<![CDATA[
				AND A.insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
				]]>
				</if>
				<if test="end_date != null and end_date != ''">
				<![CDATA[
				AND A.insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
				]]>
				</if>
			<choose>
			<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
			ORDER BY A.${order_word} ${order_value}
			</when>
			<otherwise>
			ORDER BY A.insert_date DESC, A.data_id DESC
			</otherwise>
			</choose>
			OFFSET #{offset} LIMIT #{limit}
		) X
	</select>
	
	<select id="getDataInfoLog" parameterType="long" resultType="dataInfoLog">
		/* getDataInfoLog */
		SELECT A.*, B.data_name
		FROM data_info_log A, data_info B
		WHERE A.data_info_log_id = #{data_info_log_id}
			AND A.data_id = B.data_id
	</select>

	<!-- Data Info 변경 이력 등록 -->
	<insert id="insertDataInfoLog" parameterType="dataInfoLog">
		/* insertDataInfoLog */
		<selectKey keyProperty="data_info_log_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('data_info_log_seq')
  		</selectKey>
		INSERT INTO data_info_log(
			data_info_log_id, project_id, data_id, user_id, latitude, longitude, height, heading, pitch, roll,
			before_latitude, before_longitude, before_height, before_heading, before_pitch, before_roll, description
		) values(
			#{data_info_log_id}, #{project_id}, #{data_id}, #{user_id}, #{latitude}, #{longitude}, #{height}, #{heading}, #{pitch}, #{roll},
			#{before_latitude}, #{before_longitude}, #{before_height}, #{before_heading}, #{before_pitch}, #{before_roll}, #{description}
		)
	</insert>
	
	<!-- 데이터 로그 상태 변경 -->
	<update id="updateDataInfoLogStatus" parameterType="dataInfoLog">
		/* updateDataInfoLogStatus */
		UPDATE data_info_log
		SET status = #{status},
			update_date = NOW()
		WHERE data_info_log_id = #{data_info_log_id}
	</update>
</mapper>