<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.FileMapper">

	<!-- 파일 정보 획득 -->
	<select id="getFileInfo" parameterType="long" resultType="fileInfo">
		/* getAccessLog */
		SELECT * FROM file_info WHERE file_info_id = #{file_info_id}
	</select>
	
	<!-- 파일 파싱 로그 획득  -->
	<select id="getFileParseLog" parameterType="long" resultType="fileParseLog">
		/* getFileParseLog */
		SELECT * FROM file_parse_log WHERE file_parse_log_id = #{file_parse_log_id}
	</select>

	<!-- 파일 정보 저장 -->
	<insert id="insertFileInfo" parameterType="fileInfo" >
		/* insertFileInfo */
		<selectKey keyProperty="file_info_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('file_info_seq')
  		</selectKey>
		INSERT INTO file_info(
			file_info_id, user_id, job_type, file_name, file_real_name, file_path, file_size, file_ext
		) values(
			#{file_info_id}, #{user_id}, #{job_type}, #{file_name}, #{file_real_name}, #{file_path}, #{file_size}, #{file_ext}
		)
	</insert>
	
	<!-- 파일 정보 수정 -->
	<update id="updateFileInfo" parameterType="fileInfo">
		/* updateFileInfo */
		UPDATE file_info
		SET total_count = #{total_count},
			parse_success_count = #{parse_success_count},
			parse_error_count = #{parse_error_count},
			insert_success_count = #{insert_success_count},
			insert_error_count = #{insert_error_count}
		WHERE file_info_id = #{file_info_id}
	</update>
	
	<!-- 파일 파싱 로그 저장 -->
	<insert id="insertFileParseLog" parameterType="fileParseLog">
		<selectKey keyProperty="file_parse_log_id" resultType="long" order="BEFORE">
			SELECT NEXTVAL('file_parse_log_seq');
		</selectKey>
		INSERT INTO file_parse_log (
			file_parse_log_id, file_info_id, identifier_value, error_code, log_type, status
		) values (
			#{file_parse_log_id}, #{file_info_id}, #{identifier_value}, #{error_code}, #{log_type}, #{status}
		)
	</insert>
</mapper>