<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.LoginMapper">

	<!-- 세션 정보 -->
	<select id="getUserSession" parameterType="userInfo" resultType="userSession">
		/* getUserSession */
		SELECT A.*, B.group_name AS user_group_name,
			<![CDATA[
			CASE WHEN A.last_password_change_date < (NOW() - INTERVAL '${password_change_term} DAY') THEN true
				ELSE false
			END AS password_change_term_over,
			]]>
			<![CDATA[
			CASE WHEN A.last_login_date IS NULL THEN A.insert_date < (NOW() - INTERVAL '${user_last_login_lock} DAY')
				ELSE A.last_login_date < (NOW() - INTERVAL '${user_last_login_lock} DAY')
			END AS user_last_login_lock_over
			]]>
		FROM user_info A LEFT OUTER JOIN user_group B ON A.user_group_id = B.user_group_id
		WHERE A.user_id = #{user_id}
	</select>

	<!-- 사용자 기본 정보 중 세션 관련 정보 수정 -->
	<update id="updateLoginUserSession" parameterType="userSession">
		/* updateLoginUserSession */
		UPDATE user_info
		SET fail_login_count = #{fail_login_count},
			last_login_date = NOW()
		WHERE user_id = #{user_id} AND
			password = #{password}
	</update>
</mapper>