<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.MonitoringMapper">

	<!-- DB 세션 목록 -->
	<select id="getListDBSession" resultType="pGStatActivity">
		/* getListDBSession */
		SELECT * FROM pg_stat_activity ORDER BY state_change DESC
	</select>
</mapper>