<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.PolicyMapper">

	<!-- <resultMap id="policyResultMap" type="policy">
		<result property="xxx" column="geo_data_default_projects" javaType="java.lang.String" jdbcType="ARRAY" />
	</resultMap> -->

	<!-- 운영 정책 정보 -->
	<select id="getPolicy" resultType="policy">
		/* getPolicy */
		SELECT * FROM policy ORDER BY policy_id DESC LIMIT 1
	</select>

	<!-- 운영 정책 사용자 수정 -->	
	<update id="updatePolicyUser" parameterType="policy">
		/* updatePolicyUser */
		UPDATE policy
		SET user_id_min_length = #{user_id_min_length},
			user_fail_login_count = #{user_fail_login_count},
		<if test="user_fail_lock_release != null and user_fail_lock_release != ''">
			user_fail_lock_release = #{user_fail_lock_release},
		</if>
			user_last_login_lock = #{user_last_login_lock},
			user_duplication_login_yn = #{user_duplication_login_yn},
			user_login_type = #{user_login_type},
			user_update_check = #{user_update_check},
			user_delete_check = #{user_delete_check},
			user_delete_type = #{user_delete_type}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 운영 정책 패스워드 수정 -->	
	<update id="updatePolicyPassword" parameterType="policy">
		/* updatePolicyPassword */
		UPDATE policy
		SET password_change_term = #{password_change_term},
			password_min_length = #{password_min_length},
			password_max_length = #{password_max_length},
			password_eng_upper_count = #{password_eng_upper_count},
			password_eng_lower_count = #{password_eng_lower_count},
			password_number_count = #{password_number_count},
			password_special_char_count = #{password_special_char_count},
			password_continuous_char_count = #{password_continuous_char_count},
			password_create_type = #{password_create_type},
			password_create_char = #{password_create_char},
			password_exception_char = #{password_exception_char}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 공간 정보 기본 수정 -->	
	<update id="updatePolicyGeo" parameterType="policy">
		/* updatePolicyGeo */
		UPDATE policy
		SET geo_view_library = #{geo_view_library},
			geo_data_path = #{geo_data_path},
			<if test="geo_data_default_projects == null or geo_data_default_projects == ''">
			geo_data_default_projects = null,
			</if>
			<if test="geo_data_default_projects != null and geo_data_default_projects != ''">
			geo_data_default_projects = STRING_TO_ARRAY(#{geo_data_default_projects}, ','),
			</if>
			geo_cull_face_enable = #{geo_cull_face_enable},
			geo_time_line_enable = #{geo_time_line_enable},
			geo_init_camera_enable = #{geo_init_camera_enable},
			geo_init_latitude = #{geo_init_latitude},
			geo_init_longitude = #{geo_init_longitude},
			geo_init_height = #{geo_init_height},
			geo_init_duration = #{geo_init_duration},
			geo_init_default_terrain = #{geo_init_default_terrain},
			geo_init_default_fov = #{geo_init_default_fov},
			geo_lod0 = #{geo_lod0},
			geo_lod1 = #{geo_lod1},
			geo_lod2 = #{geo_lod2},
			geo_lod3 = #{geo_lod3},
			geo_lod4 = #{geo_lod4},
			geo_lod5 = #{geo_lod5},
			geo_ambient_reflection_coef = #{geo_ambient_reflection_coef},
			geo_diffuse_reflection_coef = #{geo_diffuse_reflection_coef},
			geo_specular_reflection_coef = #{geo_specular_reflection_coef},
			geo_specular_color = #{geo_specular_color},
			geo_ambient_color = #{geo_ambient_color},
			geo_ssao_radius = #{geo_ssao_radius}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- Geo Server 수정 -->	
	<update id="updatePolicyGeoServer" parameterType="policy">
		/* updatePolicyGeoServer */
		UPDATE policy
		SET geo_server_enable = #{geo_server_enable},
			geo_server_url = #{geo_server_url},
			geo_server_layers = #{geo_server_layers},
			geo_server_parameters_service = #{geo_server_parameters_service},
			geo_server_parameters_version = #{geo_server_parameters_version},
			geo_server_parameters_request = #{geo_server_parameters_request},
			geo_server_parameters_transparent = #{geo_server_parameters_transparent},
			geo_server_parameters_format = #{geo_server_parameters_format},
			geo_server_add_url = #{geo_server_add_url},
			geo_server_add_layers = #{geo_server_add_layers},
			geo_server_add_parameters_service = #{geo_server_add_parameters_service},
			geo_server_add_parameters_version = #{geo_server_add_parameters_version},
			geo_server_add_parameters_request = #{geo_server_add_parameters_request},
			geo_server_add_parameters_transparent = #{geo_server_add_parameters_transparent},
			geo_server_add_parameters_format = #{geo_server_add_parameters_format}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- CallBack Function 수정 -->	
	<update id="updatePolicyGeoCallBack" parameterType="policy">
		/* updatePolicyGeoCallBack */
		UPDATE policy
		SET geo_callback_enable = #{geo_callback_enable},
			geo_callback_apiresult = #{geo_callback_apiresult},
			geo_callback_selectedobject = #{geo_callback_selectedobject},
			geo_callback_insertissue = #{geo_callback_insertissue},
			geo_callback_listissue = #{geo_callback_listissue},
			geo_callback_clickposition = #{geo_callback_clickposition}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 운영 정책 알림 수정 -->	
	<update id="updatePolicyNotice" parameterType="policy">
		/* updatePolicyNotice */
		UPDATE policy
		SET notice_service_yn = #{notice_service_yn},
			notice_service_send_type = #{notice_service_send_type},
			notice_approval_request_yn = #{notice_approval_request_yn},
			notice_approval_sign_yn = #{notice_approval_sign_yn},
			notice_password_update_yn = #{notice_password_update_yn},
			notice_approval_delay_yn = #{notice_approval_delay_yn},
			notice_risk_yn = #{notice_risk_yn},
			notice_risk_send_type = #{notice_risk_send_type},
			notice_risk_grade = #{notice_risk_grade}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 운영 정책 보안 수정 -->	
	<update id="updatePolicySecurity" parameterType="policy">
		/* updatePolicySecurity */
		UPDATE policy
		SET security_session_timeout_yn = #{security_session_timeout_yn},
			security_session_timeout = #{security_session_timeout},
			security_user_ip_check_yn = #{security_user_ip_check_yn},
			security_session_hijacking = #{security_session_hijacking},
			security_sso = #{security_sso},
			security_sso_token_verify_time = #{security_sso_token_verify_time},
			security_log_save_type = #{security_log_save_type},
			security_log_save_term = #{security_log_save_term},
			security_dynamic_block_yn = #{security_dynamic_block_yn},
			security_api_result_secure_yn = #{security_api_result_secure_yn},
			security_masking_yn = #{security_masking_yn}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 운영 정책 컨텐트 수정 -->	
	<update id="updatePolicyContent" parameterType="policy">
		/* updatePolicyContent */
		UPDATE policy
		SET content_cache_version = #{content_cache_version},
			content_main_widget_count = #{content_main_widget_count},
			content_main_widget_interval = #{content_main_widget_interval},
			content_statistics_interval = #{content_statistics_interval},
			content_load_balancing_interval = #{content_load_balancing_interval},
			content_menu_group_root = #{content_menu_group_root},
			content_user_group_root = #{content_user_group_root},
			content_server_group_root = #{content_server_group_root},
			content_data_group_root = #{content_data_group_root}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 사이트 정보 수정 -->	
	<update id="updatePolicySite" parameterType="policy">
		/* updatePolicySite */
		UPDATE policy
		SET site_name = #{site_name},
			site_admin_name = #{site_admin_name},
			site_admin_mobile_phone = #{site_admin_mobile_phone},
			site_admin_email = #{site_admin_email},
			site_product_log = #{site_product_log},
			site_company_log = #{site_company_log}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- BackOffice 정보 수정 -->	
	<update id="updatePolicyBackoffice" parameterType="policy">
		/* updatePolicyBackoffice */
		UPDATE policy
		SET backoffice_email_host = #{backoffice_email_host},
			backoffice_email_port = #{backoffice_email_port},
			backoffice_email_user = #{backoffice_email_user},
			backoffice_email_password = #{backoffice_email_password},
			backoffice_user_db_driver = #{backoffice_user_db_driver},
			backoffice_user_db_url = #{backoffice_user_db_url},
			backoffice_user_db_user = #{backoffice_user_db_user},
			backoffice_user_db_password = #{backoffice_user_db_password}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 서버 시간 변경 -->
	<update id="updatePolicyOs" parameterType="policy">
		/* updatePolicyOs */
		UPDATE policy
		SET os_timezone = #{os_timezone},
			os_ntp = #{os_ntp}
		WHERE policy_id = #{policy_id}
	</update>
	
	<!-- 제품 정보 수정 -->	
	<update id="updatePolicySolution" parameterType="policy">
		/* updatePolicySolution */
		UPDATE policy
		SET solution_name = #{solution_name},
			solution_version = #{solution_version},
			solution_company = #{solution_company},
			solution_company_phone = #{solution_company_phone},
			solution_manager = #{solution_manager},
			solution_manager_phone = #{solution_manager_phone},
			solution_manager_email = #{solution_manager_email}
		WHERE policy_id = #{policy_id}
	</update>

</mapper>