<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.ProjectMapper">

	<!-- 프로젝트 총건수 -->
	<select id="getProjectTotalCount" parameterType="project" resultType="long">
		/* getProjectTotalCount */
		SELECT COUNT(project_id) 
		FROM project
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="sharing_type != null and sharing_type != ''">
			sharing_type = #{sharing_type}
			</if>
			<if test="user_id != null and user_id != ''">
			AND user_id = #{user_id}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND ${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND ${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim>
	</select>

	<!-- project 목록 -->
	<select id="getListProject" parameterType="project" resultType="project">
		/* getListProject */
		SELECT A.*, (SELECT COUNT(data_id) FROM data_info WHERE project_id = A.project_id) AS data_count
		FROM(
			SELECT project_id, project_key, project_name, view_order, default_yn, use_yn, latitude, longitude, height, duration,
				description, attributes, user_id, sharing_type, project_path, insert_date
			FROM project
			<trim prefix="WHERE" prefixOverrides="AND">
				<if test="sharing_type != null and sharing_type != ''">
				sharing_type = #{sharing_type}
				</if>
				<if test="user_id != null and user_id != ''">
				AND user_id = #{user_id}
				</if>
				<if test="use_yn != null and use_yn != ''">
			    AND use_yn = #{use_yn}
			    </if>
				<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
				AND ${search_word} = #{search_value}
				</if>
				<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
				AND ${search_word} LIKE '%' || #{search_value} || '%'
				</if>
				<if test="start_date != null and start_date != ''">
				<![CDATA[
				AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
				]]>
				</if>
				<if test="end_date != null and end_date != ''">
				<![CDATA[
				AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
				]]>
				</if>
			</trim>
			<choose>
			<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
			ORDER BY ${order_word} ${order_value}
			</when>
			<otherwise>
			ORDER BY insert_date DESC, view_order
			</otherwise>
			</choose>
			<if test="offset != null and limit != ''">
			OFFSET #{offset} LIMIT #{limit}
			</if>
		) A
	</select>
	
	<!-- 기본 프로젝트 목록 -->
	<select id="getListDefaultProject" resultType="project">
		/* getListDefaultProject */
		SELECT *
		FROM project
		WHERE project_id IN
		<foreach collection="array" item="project_id" index="index" open="(" separator="," close=")">
			CAST (#{project_id} AS INTEGER)
		</foreach>
	</select>
	
	<!-- project -->
	<select id="getProject" parameterType="project" resultType="project">
		/* getProject */
		SELECT * 
		FROM project 
		WHERE project_id = #{project_id}
		<if test="user_id != null and user_id != ''">
			AND user_id = #{user_id}
		</if> 
	</select>
	
	<!-- project by geo -->
	<select id="getProjectByGeo" parameterType="project" resultType="project">
		/* getProjectByGeo */
		SELECT *, 
			ST_Distance(
				ST_GeographyFromText('SRID=4326;POINT('||longitude||' '||latitude||')'), 
				ST_GeographyFromText(#{location})
			) AS distance
		FROM project
		WHERE use_yn = 'Y'
		<if test="user_id != null and user_id != ''">
			AND user_id = #{user_id}
		</if> 
		ORDER BY distance
		LIMIT 1
	</select>
	
	<!-- project 아이디 중복 체크 -->
	<select id="getDuplicationKeyCount" parameterType="string" resultType="int">
		/* getDuplicationKeyCount */
		SELECT COUNT(project_key) AS count 
		FROM project
		WHERE project_key = #{project_key}
	</select>
	
	<!-- 프로젝트 목록(데이터 총 건수로 정렬) -->
	<select id="getListProjectByDataCountRank" parameterType="project" resultType="project">
		/* getListProjectByDataCountRank */
		SELECT * 
		FROM project
		WHERE use_yn = #{use_yn}
			AND sharing_type = #{sharing_type}
		ORDER BY data_count DESC, view_order, insert_date
		OFFSET #{offset} LIMIT #{limit}
	</select>
	
	<!-- project 등록 -->
	<insert id="insertProject" parameterType="project" >
		/* insertProject */
		<selectKey keyProperty="project_id" resultType="int" order="BEFORE">
    		SELECT NEXTVAL('project_seq')
  		</selectKey>
		INSERT INTO project(
			project_id, project_key, project_name, project_path, sharing_type, user_id, view_order, use_yn, latitude, longitude, height, duration, description
			<if test="attributes != null and attributes != ''">
			, attributes
			</if>
		) VALUES (
			#{project_id}
			<if test="project_key == null or project_key == ''">
			, #{project_id} 
			</if>
			<if test="project_key != null and project_key != ''">
			, #{project_key} 
			</if>
			, #{project_name}, #{project_path}, #{sharing_type}, #{user_id}, #{view_order}, #{use_yn}, #{latitude}, #{longitude}, #{height}, #{duration}, #{description}
			<if test="attributes != null and attributes != ''">
			, TO_JSON(#{attributes}::json)
			</if>
		)
	</insert>
	
	<!-- project 수정 -->
	<update id="updateProject" parameterType="project">
		/* updateProject */
		UPDATE project
		SET 
			<if test="project_key != null and project_key != ''">
			project_key = #{project_key},
			</if>
			<if test="project_name != null and project_name != ''">
			project_name = #{project_name},
			</if>
			<if test="sharing_type != null and sharing_type != ''">
			sharing_type = #{sharing_type},
			</if>
			<if test="data_count != null and data_count gt 0">
			data_count = data_count + #{data_count},
			</if>
			<if test="data_count != null and data_count lt 0">
			data_count = data_count - ABS(#{data_count}),
			</if>
			<if test="view_order != null and view_order gt 0">
			view_order = #{view_order},
			</if>
			<if test="use_yn != null">
			use_yn = #{use_yn},
			</if>
			<if test="latitude != null">
			latitude = #{latitude},
			</if>
			<if test="longitude != null">
			longitude = #{longitude},
			</if>
			<if test="height != null">
			height = #{height},
			</if>
			<if test="duration != null">
			duration = #{duration},
			</if>
			<if test="attributes != null and attributes != ''">
			attributes = TO_JSON(#{attributes}::json),
			</if>
			<if test="description != null and description != ''">
			description = #{description},
			</if>
			update_date = NOW()
		WHERE project_id = #{project_id}
		<if test="user_id != null and user_id != ''">
			AND user_id = #{user_id}
		</if> 
	</update>
	
	<!-- project 삭제 -->
	<delete id="deleteProject" parameterType="project">
		/* deleteProject */
		DELETE 
		FROM project 
		WHERE project_id = #{project_id} 
			AND default_yn != 'Y'
		<if test="user_id != null and user_id != ''">
			AND user_id = #{user_id}
		</if> 
	</delete>
</mapper>