<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.ScheduleMapper">

	<!-- 스케줄러 목록 -->
	<select id="getListSchedule" parameterType="schedule" resultType="schedule">
		/* getListSchedule*/
		SELECT * FROM schedule ORDER BY schedule_id	
	</select>
	
	<!-- 스케줄러 정보 -->
	<select id="getSchedule" parameterType="long" resultType="schedule">
		/* getSchedule */
		SELECT * FROM schedule WHERE schedule_id = #{schedule_id}
	</select>
	
	<!-- 스케줄러 정보 -->
	<select id="getScheduleByScheduleCode" parameterType="string" resultType="schedule">
		/* getScheduleByScheduleCode */
		SELECT * FROM schedule WHERE schedule_code = #{schedule_code}
	</select>
	
	<!-- 스케줄러 실행 이력 총 건수 -->
	<select id="getScheduleLogTotalCount" parameterType="scheduleLog" resultType="long">
		/* getScheduleLogTotalCount */
		SELECT COUNT(schedule_log_id) 
		FROM schedule A, schedule_log B
		WHERE A.schedule_id = B.schedule_id
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND A.${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND A.${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="execute_result != null and execute_result != ''">
			AND execute_result = #{execute_result}
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND B.insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND B.insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
	</select>

	<!-- 스케줄러 실행 이력 목록 -->
	<select id="getListScheduleLog" parameterType="scheduleLog" resultType="scheduleLog">
		/* getListScheduleLog*/
		SELECT A.schedule_name, B.*
		FROM schedule A, schedule_log B
		WHERE A.schedule_id = B.schedule_id
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND A.${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND A.${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="execute_result != null and execute_result != ''">
			AND execute_result = #{execute_result}
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND B.insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND B.insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		<choose>
		<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
		ORDER BY B.${order_word} ${order_value}
		</when>
		<otherwise>
		ORDER BY B.insert_date DESC, B.schedule_log_id DESC
		</otherwise>
		</choose>
		OFFSET #{offset} LIMIT #{limit}
	</select>
	
	<!-- 스케줄 실행 이력 등록 -->
	<insert id="insertScheduleLog" parameterType="scheduleLog">
		/* insertScheduleLog */
		<selectKey keyProperty="schedule_log_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('schedule_log_seq')
  		</selectKey>
		INSERT INTO schedule_log(
			schedule_log_id, schedule_id, execute_result, execute_total_count, execute_message
		) values(
			#{schedule_log_id}, #{schedule_id}, #{execute_result}, #{execute_total_count}, #{execute_message}
		)
	</insert>
</mapper>