<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.UploadMapper">
	<!-- 사용자가 업로드 완료한 파일 총 건수 -->
	<select id="getListUploadLogTotalCount" parameterType="uploadLog" resultType="long">
		/* getListUploadLogTotalCount */
		SELECT COUNT(upload_log_id) 
		FROM upload_log
		WHERE user_id = #{user_id}
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND ${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND ${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
	</select>
	
	<!-- 사용자가 업로드 완료한 파일 목록 -->
	<select id="getListUploadLog" parameterType="uploadLog" resultType="uploadLog">
		/* getListUploadLog */
		SELECT *
		FROM upload_log A
		WHERE A.user_id = #{user_id}
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND A.${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND A.${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND A.insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND A.insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		<choose>
		<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
		ORDER BY A.${order_word} ${order_value}
		</when>
		<otherwise>
		ORDER BY A.insert_date DESC, A.upload_log_id DESC
		</otherwise>
		</choose>
		OFFSET #{offset} LIMIT #{limit}
	</select>

	<!-- 사용자 업로드 파일 정보 저장 -->
	<insert id="insertFileInfo" parameterType="fileInfo" >
		/* insertFileInfo */
		<selectKey keyProperty="upload_log_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('upload_log_seq')
  		</selectKey>
		INSERT INTO upload_log(
			upload_log_id, user_id, file_name, file_real_name, file_path, file_size, file_ext
		) values(
			#{upload_log_id}, #{user_id}, #{file_name}, #{file_real_name}, #{file_path}, #{file_size}, #{file_ext}
		)
	</insert>
	
	<!-- f4d converter 변환 횟수 업데이트 -->
	<insert id="updateConverterCount" parameterType="converterLog" >
		/* updateConverterCount */
		UPDATE upload_log
		SET converter_count = converter_count + 1
		WHERE upload_log_id = #{upload_log_id} AND user_id = #{user_id}
	</insert>
</mapper>