<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.UploadDataMapper">

	<!-- 사용자가 업로드 완료한 파일 총 건수 -->
	<select id="getUploadDataTotalCount" parameterType="uploadData" resultType="long">
		/* getUploadDataTotalCount */
		SELECT COUNT(upload_data_id) 
		FROM upload_data
		WHERE user_id = #{user_id}
			<if test="sharing_type != null and sharing_type != ''">
			AND sharing_type = #{sharing_type}
			</if>
			<if test="data_type != null and data_type != ''">
			AND data_type = #{data_type}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
			AND ${search_word} = #{search_value}
			</if>
			<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
			AND ${search_word} LIKE '%' || #{search_value} || '%'
			</if>
			<if test="start_date != null and start_date != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="end_date != null and end_date != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
	</select>
	
	<!-- 사용자가 업로드 완료한 파일 목록 -->
	<select id="getListUploadData" parameterType="uploadData" resultType="uploadData">
		/* getListUploadData */
		SELECT X.*, Y.project_name
		FROM(	
			SELECT *
			FROM upload_data A
			WHERE A.user_id = #{user_id}
				<if test="sharing_type != null and sharing_type != ''">
				AND A.sharing_type = #{sharing_type}
				</if>
				<if test="data_type != null and data_type != ''">
				AND A.data_type = #{data_type}
				</if>
				<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '0'.toString()">
				AND ${search_word} = #{search_value}
				</if>
				<if test="search_word != null and search_word != '' and search_value != null and search_value != '' and search_option == '1'.toString()">
				AND ${search_word} LIKE '%' || #{search_value} || '%'
				</if>
				<if test="start_date != null and start_date != ''">
				<![CDATA[
				AND insert_date >= TO_TIMESTAMP(#{start_date}, 'YYYYMMDDHH24MISSUS')
				]]>
				</if>
				<if test="end_date != null and end_date != ''">
				<![CDATA[
				AND insert_date <= TO_TIMESTAMP(#{end_date}, 'YYYYMMDDHH24MISSUS')
				]]>
				</if>
			<choose>
			<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
			ORDER BY A.${order_word} ${order_value}
			</when>
			<otherwise>
			ORDER BY A.insert_date DESC, A.upload_data_id DESC
			</otherwise>
			</choose>
			OFFSET #{offset} LIMIT #{limit}
		) X, project Y
		WHERE x.project_id = Y.project_id
		<choose>
		<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
		ORDER BY A.${order_word} ${order_value}
		</when>
		<otherwise>
		ORDER BY X.insert_date DESC, X.upload_data_id DESC
		</otherwise>
		</choose>
	</select>
	
	<!-- 업로딩 정보 -->
	<select id="getUploadData" parameterType="uploadData" resultType="uploadData">
		/* getUploadData */
		SELECT *, 
			(SELECT project_name FROM project B WHERE B.project_id = A.project_id) AS project_name
		FROM upload_data A
		WHERE user_id =#{user_id} AND upload_data_id = #{upload_data_id}
	</select>
	
	<!-- 업로딩 파일 총 건수 -->
	<select id="getUploadDataFileTotalCount" parameterType="uploadDataFile" resultType="long">
		/* getUploadDataFileTotalCount */
		SELECT COUNT(upload_data_file_id) FROM upload_data_file WHERE user_id =#{user_id} 
	</select>

	<!-- 업로딩 파일 총 용량 -->
	<select id="getUploadDataFileTotalSize" parameterType="uploadDataFile" resultType="long">
		/* getUploadDataFileTotalSize */
		SELECT SUM(TO_NUMBER(file_size, '99999999999999999999')) FROM upload_data_file WHERE user_id =#{user_id} 
	</select>
	
	<!-- 업로딩한 파일 목록 -->
	<select id="getListUploadDataFile" parameterType="uploadData" resultType="uploadDataFile">
		/* getListUploadDataFile */
		SELECT A.*, B.data_name, B.latitude, B.longitude, B.height
		FROM upload_data_file A, upload_data B
		WHERE A.user_id =#{user_id} 
			AND A.upload_data_id = #{upload_data_id}
			AND A.upload_data_id = B.upload_data_id
			<if test="converter_target_yn != null and converter_target_yn != ''">
			AND A.converter_target_yn = #{converter_target_yn}
			</if>	
		<choose>
		<when test="order_word != null and order_word != '' and order_value != null and order_value != ''">
		ORDER BY A.${order_word} ${order_value}
		</when>
		<otherwise>
		ORDER BY A.depth, A.insert_date
		</otherwise>
		</choose>
	</select>

	<!-- 사용자 3차원 파일 정보 업로딩 -->
	<insert id="insertUploadData" parameterType="uploadData" >
		/* insertUploadData */
		<selectKey keyProperty="upload_data_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('upload_data_seq')
  		</selectKey>
		INSERT INTO upload_data(
			upload_data_id, project_id, sharing_type, data_type, user_id, data_name, latitude,
			longitude, height, description, compress_yn, file_count
		) VALUES (
			#{upload_data_id}, #{project_id}, #{sharing_type}, #{data_type}, #{user_id}, #{data_name}, #{latitude},
			#{longitude}, #{height}, #{description}, #{compress_yn}, #{file_count}
		)
	</insert>
	
	<!-- 사용자 3차원 파일 업로딩 -->
	<insert id="insertUploadDataFile" parameterType="uploadDataFile" >
		/* insertUploadDataFile */
		<selectKey keyProperty="upload_data_file_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('upload_data_file_seq')
  		</selectKey>
		INSERT INTO upload_data_file(
			upload_data_file_id, upload_data_id, project_id, sharing_type, data_type, converter_target_yn, user_id, file_type,
			file_name, file_real_name, file_path, file_sub_path, file_size, file_ext, depth
		) VALUES (
			#{upload_data_file_id}, #{upload_data_id}, #{project_id}, #{sharing_type}, #{data_type}, #{converter_target_yn}, #{user_id}, #{file_type},
			#{file_name}, #{file_real_name}, #{file_path}, #{file_sub_path}, #{file_size}, #{file_ext}, #{depth}
		)
	</insert>
	
	<!-- 업로딩 데이터 정보 삭제 -->
	<delete id="deleteUploadData" parameterType="uploadData">
		/* deleteUploadData */
		DELETE from upload_data WHERE user_id = #{user_id} AND upload_data_id = #{upload_data_id}
	</delete>
	
	<!-- 업로딩 데이터 파일 삭제 -->
	<delete id="deleteUploadDataFile" parameterType="uploadData">
		/* deleteUploadDataFile */
		DELETE from upload_data_file WHERE user_id = #{user_id} AND upload_data_id = #{upload_data_id}
	</delete>
	
</mapper>