<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaia3d.persistence.UserDeviceMapper">
	
	<!-- 사용자 디바이스 정보 -->
	<select id="getUserDeviceByUserId" parameterType="string" resultType="userDevice">
		/* getUserDeviceByUserId */
		SELECT *
		FROM user_device
		WHERE user_id = #{user_id}
	</select>
	
	<!-- 사용자 디바이스 정보 -->
	<select id="getUserDeviceByUserIp" parameterType="userDevice" resultType="userDevice">
		/* getUserDeviceByUserIp */
		SELECT *
		FROM user_device
		WHERE user_id = #{user_id} AND 
			( device_ip1 = #{device_ip} OR device_ip2 = #{device_ip} OR device_ip3 = #{device_ip} OR device_ip4 = #{device_ip} OR device_ip5 = #{device_ip})
	</select>
	
	<!-- 사용자 디바이스 등록 -->
	<insert id="insertUserDevice" parameterType="userDevice" >
		/* insertUserDevice */
		<selectKey keyProperty="user_device_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('user_device_seq')
  		</selectKey>
		INSERT INTO user_device (
			user_device_id, user_id,
			device_name1, device_type1, device_ip1, device_priority1, use_yn1,
			device_name2, device_type2, device_ip2, device_priority2, use_yn2,
			device_name3, device_type3, device_ip3, device_priority3, use_yn3,
			device_name4, device_type4, device_ip4, device_priority4, use_yn4,
			device_name5, device_type5, device_ip5, device_priority5, use_yn5
		) VALUES (
			#{user_device_id}, #{user_id},
			#{device_name1}, #{device_type1}, #{device_ip1}, 1, #{use_yn1},
			#{device_name2}, #{device_type2}, #{device_ip2}, 2, #{use_yn2},
			#{device_name3}, #{device_type3}, #{device_ip3}, 3, #{use_yn3},
			#{device_name4}, #{device_type4}, #{device_ip4}, 4, #{use_yn4},
			#{device_name5}, #{device_type5}, #{device_ip5}, 5, #{use_yn5}
		)
	</insert>
	
	<!-- 사용자 디바이스 수정 -->
	<update id="updateUserDevice" parameterType="userDevice">
		/* updateUserDevice */
		UPDATE user_device
		SET device_name1 = #{device_name1},
		 	device_type1 = #{device_type1},
		 	device_ip1 = #{device_ip1},
		    use_yn1 = #{use_yn1},
			device_name2 = #{device_name2},
		 	device_type2 = #{device_type2},
		 	device_ip2 = #{device_ip2},
		    use_yn2 = #{use_yn2},
			device_name3 = #{device_name3},
		 	device_type3 = #{device_type3},
		 	device_ip3 = #{device_ip3},
		    use_yn3 = #{use_yn3},
			device_name4 = #{device_name4},
		 	device_type4 = #{device_type4},
		 	device_ip4 = #{device_ip4},
		    use_yn4 = #{use_yn4},
			device_name5 = #{device_name5},
		 	device_type5 = #{device_type5},
		 	device_ip5 = #{device_ip5},
		    use_yn5 = #{use_yn5}
		WHERE user_id = #{user_id}
	</update>
	
	<!-- 사용자 디바이스 삭제 -->
	<delete id="deleteUserDeviceByUserId">
		/* deleteUserDeviceByUserId */
		DELETE FROM user_device WHERE user_id = #{user_id}
	</delete>
</mapper>