<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow">
    <title>업로딩 데이터 변환 목록 | mago3D</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/cesium/Widgets/widgets.css(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/user-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
    <script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
    <script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
</head>
<body>
<div th:replace="~{/layouts/header :: #headerWrap}"></div>
<div id="wrap">
    <!-- S: NAVWRAP -->
	<div class="navWrap">
        <div th:replace="~{/layouts/menu :: #navWrap}"></div>
	</div>
	<!-- E: NAVWRAP -->

    <div class="container" style="float:left; width: calc(100% - 78px);">
        <div style="padding: 20px 20px 0px 10px; font-size: 18px;">3D 업로딩 데이터 자동 변환</div>
        <!-- TAB -->
        <div class="tabs">
            <ul class="tab">
                <li id="tabDataGroupList"><a th:href="@{/data-group/list}">데이터 그룹</a></li>
                <li id="tabDataGroupInput"><a th:href="@{/data-group/input}">데이터 그룹 등록</a></li>
                <li id="tabUploadDataInput"><a th:href="@{/upload-data/input}">업로딩 데이터</a></li>
                <li id="tabUploadDataList"><a th:href="@{/upload-data/list}">업로딩 데이터 목록</a></li>
                <li id="tabConverterList"><a th:href="@{/converter/list}">업로딩 데이터 변환 목록</a></li>
                <li id="tabDataList"><a th:href="@{/data/list}">데이터 목록</a></li>
                <li id="tabDataLogList"><a th:href="@{/data-log/list}">데이터 변경 이력</a></li>
            </ul>
        </div>

        <!-- 검색 -->
        <div class="filters">
            <form id="searchForm" th:object="${converterJob}" method="get" action="#" th:action="@{/converter/list}" onsubmit="return searchCheck();">
                <div class="input-group row">
                    <div class="input-set">
                        <label for="searchWord" th:text="#{search.word}"></label>
                        <select id="searchWord" th:field="*{searchWord}" class="selectBoxClass">
                            <option value="" th:text="#{select}"></option>
                              <option value="title" th:text="제목"></option>
                        </select>
                        <select id="searchOption" th:field="*{searchOption}" class="selectBoxClass">
                            <option value="0" th:text="#{search.same}"></option>
                            <option value="1"th:text="#{search.include}"></option>
                        </select>
                        <form:input path="searchValue" type="search" cssClass="m" cssStyle="float: right;">
                    </div>
                    <div class="input-set">
                        <label for="startDate" th:text="#{search.date}"></label>
                        <input type="text" id="startDate" th:field="*{startDate}" class="s date" autocomplete="off">
                        <span class="delimeter tilde">~</span>
                        <input type="text" id="endDate" th:field="*{endDate}" class="s date" autocomplete="off">
                    </div>
                    <div class="input-set">
                        <label for="orderWord" th:text="#{search.order}"></label>
                        <select id="orderWord" th:field="*{orderWord}" class="selectBoxClass">
                            <option value="" th:text="#{search.basic}"></option>
                            <option value="title" th:text="제목"></option>
                            <option value="insert_date" th:text="#{search.insert.date}"></option>
                        </select>
                        <select id="orderValue" th:field="*{orderValue}" class="selectBoxClass">
                            <option value="" th:text="#{search.basic}"></option>
                            <option value="ASC" th:text="#{search.ascending}"></option>
                            <option value="DESC" th:text="#{search.descending.order}"></option>
                        </select>
                        <select id="listCounter" name="listCounter" class="selectBoxClass">
                            <option value="10" th:text="#{search.ten.count}"></option>
                            <option value="50" th:text="#{search.fifty.count}"></option>
                            <option value="100" th:text="#{search.hundred.count}"></option>
                        </select>
                    </div>
                    <div class="input-set">
                        <input type="submit" value="검색">
                    </div>
                </div>
            </form>
            
        </div>
        <!-- 검색 -->

        <!-- 목록 -->
        <div class="list">
            <form id="listForm" modelAttribute="converterJob" method="post">
				<input type="hidden" id="checkIds" name="checkIds" value="">
                <div class="list-header row">
                    <!-- <div class="list-desc u-pull-left">
                    <spring:message code='all.d'> 
                    <span class="totalCount">
                        <fmt:formatNumber value="${pagination.totalCount}" type="number">
                    </span> 
                    <spring:message code='search.what.count'>,
                    <fmt:formatNumber value="${pagination.pageNo}" type="number">
                     / <fmt:formatNumber value="${pagination.lastPage }" type="number"> 
                    <spring:message code='search.page'>
				</div> -->
                </div>
                <table class="list-table scope-col">
                    <col class="col-number">
                    <col class="col-name">
                    <col class="col-name">
                    <col class="col-number">
                    <col class="col-name">
                    <col class="col-type">
                    <col class="col-number">
                    <col class="col-functions">
                    <col class="col-functions">
                    <thead>
                        <tr>
                            <th scope="col" class="col-number"><spring:message code='number'></th>
                            <th scope="col" class="col-name">변환 유형</th>
                            <th scope="col" class="col-name">제목</th>
                            <th scope="col" class="col-name">U.S.F</th>
                            <th scope="col" class="col-name">높이방향</th>
                            <th scope="col" class="col-name">상태</th>
                            <th scope="col" class="col-name">파일 개수</th>
                            <th scope="col" class="col-name">에러코드</th>
                            <th scope="col" class="col-date">등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${converterJobList.empty}">
                            <td colspan="9" class="col-none">Converter Job이 존재하지 않습니다.</td>
                        </tr>

                        <tr th:if="${!converterJobList.empty}" th:each="converterJob: ${converterJobList}">
                            <!-- <td class="col-number">${pagination.rowNumber - status.index }</td> -->
                            <td class="col-type" th:if="${#strings.equals(converterJob.converterTemplate, 'basic')}" th:text="기본"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.converterTemplate, 'building')}" th:text="빌딩"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.converterTemplate, 'extra-big-building')}" th:text="초대형 빌딩"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.converterTemplate, 'point-cloud')}" th:text="point cloud"></td>
                            <td class="col-name ellipsis" th:text="${converterJob.title}" style="min-width:200px;max-width:200px;"></td>
                            
                            <!-- <td class="col-count"><fmt:formatNumber value="${converterJob.usf}" type="number">
                            <c:if test="${converterJob.usf ge 1 and converterJob.usf lt 10}"> m</c:if>
                            <c:if test="${converterJob.usf ge 0.1 and converterJob.usf lt 1 }"> cm</c:if>
                            <c:if test="${converterJob.usf ge 0.01 and converterJob.usf lt 0.1}"> cm</c:if>
                            <c:if test="${converterJob.usf ge 0.001 and converterJob.usf lt 0.01}"> mm</c:if>
                            <c:if test="${converterJob.usf ge 10}"> m</c:if>
                            </td> -->

                            <td class="col-type" th:if="${#strings.equals(converterJob.viewYAxisUp, 'N')}" th:text="Z축"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.viewYAxisUp, 'Y')}" th:text="Y축"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.status, 'ready')}" th:text="준비"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.status, 'success')}" th:text="성공"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.status, 'waiting')}" th:text="승인대기"></td>
                            <td class="col-type" th:if="${#strings.equals(converterJob.status, 'fail')}" th:text="실패"></td>
                               
                            <td class="col-count" th:text="|${converterJob.fileCount}개|"></td>
                            <td class="col-type" th:if="${converterJob.errorCode.empty}" th:text=" 없음">
                            <td class="col-type" th:if="${!converterJob.errorCode.empty}">
                                <a href="#" th:onclick="'detailErrorCode('+ ${converterJob.errorCode} +'); return false;'">[보기]</a>
                            </td>
                            <td class="col-type">
                                <p th:text="${#dates.format(converterJob.insertDate,'yyyy-MM-dd HH:mm:ss')}"></p>
                                <p th:text="${#dates.format(viewInsertDate,'yyyy-MM-dd HH:mm')}"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <!-- 목록 -->

        <!-- 페이지 -->
        <th:block th:if="${pagination.totalCount > 0}" th:fragment="pageTemplate">
            <td id="boardPage" colspan="8" th:if="${pagination.pageNo != 0}">
                <div th:class="pagination">
                    <th:block th:if="${pagination.existPrePage == true}" th:object="${pagination}">
                        <a th:href="@{${pagination.uri}(pageNo=${pagination.firstPage})}"><span> [<<] </span></a>
                        <a th:href="@{${pagination.uri}(pageNo=${pagination.prePageNo})}"><span> [<] </span></a>
                    </th:block>
        
                    <th:block th:with="pageNo = ${pagination.pageNo}" th:each="seq : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                        <th:block th:if="${seq == pageNo}">
                            <a th:href="@{#}" style="border: 1px solid blue;" th:text="${pageNo}"></a>
                        </th:block>
                        <th:block th:unless="${seq == pageNo}">
                            <a th:href="@{${pagination.uri}(pageNo=${seq})}" th:text="${seq}"></a>
                        </th:block>
                    </th:block>
        
                    <th:block th:if="${pagination.existNextPage == true}" th:object="${pagination}">
                        <a th:href="@{${pagination.uri}(pageNo=${pagination.nextPageNo})}"> [>] <span></span></a>
                        <a th:href="@{${pagination.uri}(pageNo=${pagination.lastPage})}"> [>>] <span></span></a>
                    </th:block>
                </div>
            </td>
        </th:block>
        <!-- 페이지 -->
    </div>
</div>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/map-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/ui-controll.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
    $(document).ready(function() {
		var searchWord = "[[${converterJob.searchWord}]]";
		var searchOption = "[[${converterJob.searchOption}]]";
		var orderWord = "[[${converterJob.orderWord}]]";
		var orderValue = "[[${converterJob.orderValue}]]";
		var listCounter = "[[${converterJob.listCounter}]]";

		if(searchWord != "") $("#searchWord").val("${converterJob.searchWord}");
		if(searchOption != "") $("#searchOption").val("${converterJob.searchOption}");
		if(orderWord != "") $("#orderWord").val("${converterJob.orderWord}");
		if(orderValue != "") $("#orderValue").val("${converterJob.orderValue}");
		if(listCounter != "") $("#listCounter").val("${converterJob.listCounter}");

		initDatePicker();
		initCalendar(new Array("startDate", "endDate"), new Array("[[${converterJob.startDate}]]", "[[${converterJob.endDate}]]"));
	});

	//전체 선택
	$("#chkAll").click(function() {
		$(":checkbox[name=uploadDataId]").prop("checked", this.checked);
	});

	// 프로젝트 다이얼 로그
	var errorDialog = $( ".errorDialog" ).dialog({
		autoOpen: false,
		width: 400,
		height: 500,
		modal: true,
		resizable: false
	});

	function detailErrorCode(errorCode) {
		errorDialog.dialog( "open" );
		$("#dialog_error_code").html(errorCode);
	}
</script>
</body>