<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,nofollow">
	<title>대시보드 수정 | mago3D</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}">
	<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
    <link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css?cacheVersion=(lang=${lang}, cacheVersion=${contentCacheVersion})}">
</head>
<body>
<th:block layout:fragment="pageCustomContent">
    <div class="site-body">
        <div class="container">
            <div class="site-content">
                <div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
                <div class="page-area">
                    <div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
                    <div class="page-content">
                        <div class="input-header row">
                            <div class="content-title u-pull-left">
                                <th:block th:text="#{config.widget.top}"></th:block>
                            </div>
                        </div>

                        <form id="widget" th:object="${widget}" method="post" th:action="@{#}" onsubmit="return false;">
                        <!-- <hidden id="widget_order" /> -->
						<div id="sortable" class="widgets row">
							<!-- 위젯 1: 사용자 현황-->
							<div class="widget one-third column" style="font-size: 16px;">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title">사용자 현황</h3>
									</div>
									<div class="widget-functions u-pull-right">
                                        <a href="/user/list" title="#{config.widget.project.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div id="userStatus" class="widget-content row" style="width: 300px; height:200px;">
                                    
								</div>
							</div>
							<!-- 위젯 2 -->
							<div class="widget one-third column" style="font-size: 16px;">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title">데이터 상태별 현황<span th:text="#{config.widget.basic}"></span></h3>
									</div>
									<div class="widget-functions u-pull-right">
										<a href="/data/list" title="#{config.widget.data.info.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div class="widget-content row">
									
								</div>
                            </div>
							<!-- 위젯 3 -->
							<div class="widget one-third column">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title">데이터 변경 요청 이력<span th:text="#{config.widget.basic}"></span></h3>
									</div>
									<div class="widget-functions u-pull-right">
										<a href="/data-log/list" title="#{config.widget.data.info.log.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div class="widget-content row">

								</div>
							</div>
							<!-- 위젯 4 -->
							<div class="widget one-third column">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title">최근 이슈<span th:text="#{config.widget.basic}"></span></h3>
									</div>
									<div class="widget-functions u-pull-right">
										<a href="#" title="#{config.widget.issue.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div class="widget-content row">
									
								</div>
							</div>
							<!-- 위젯 5 -->
							<div class="widget one-third column" style="font-size: 16px;">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title" th:text="#{config.widget.user.status}"><span th:text="#{config.widget.basic}"></span></h3>
									</div>
									<div class="widget-functions u-pull-right">
										<a href="/user/list" title="#{config.widget.user.status.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div class="widget-content row">
                                    
								</div>
							</div>
							<!-- 위젯 6 -->
                            <div class="widget one-third column">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title" th:text="#{config.widget.schedule}"><span th:text="#{config.widget.last.year.7}"></span></h3>
									</div>
									<div class="widget-functions u-pull-right">
										<a href="#" title="#{config.widget.schedule.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div class="widget-content row">
									
								</div>
							</div>
							<!-- 위젯 7 -->
                            <div class="widget one-third column">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title" th:text="#{config.widget.user.tracking}"><span th:text="#{config.widget.basic}"></span></h3>
									</div>
									<div class="widget-functions u-pull-right">
										<a href="#" title="#{config.widget.user.tracking.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div class="widget-content row">

								</div>
							</div>
							<!-- 위젯 8 -->
                            <div class="widget one-third column">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title" th:text="#{config.widget.db.connection}"><span th:text="#{config.widget.basic}"></span></h3>
									</div>
								</div>
								<div class="widget-content row">
									
								</div>
							</div>
							<!-- 위젯 9 -->
                            <div class="widget one-third column">
								<div class="widget-header row">
									<div class="widget-heading u-pull-left">						
										<h3 class="widget-title" th:text="#{config.widget.db.session}"><span th:text="#{config.widget.basic}"></span></h3>
									</div>
									<div class="widget-functions u-pull-right">
										<a href="#" th:title="#{config.widget.db.session.more}"><span class="icon-glyph glyph-plus"></span></a>
									</div>
								</div>
								<div class="widget-content row">
									
								</div>
							</div>
						</div>
                        </form>
						<div class="button-group">
							<div class="center-buttons">
								<input type="submit" th:value="#{save}" onclick="updateWidget(); return false;" />
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/externlib/echart/echarts.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
<script type="text/javascript">
	var userChart = echarts.init(document.getElementById('userStatus'));
	var userOption = {
		tooltip: {
			trigger: 'axis',
			axisPointer: {
				type: 'shadow'
			}
		},
		grid: {
			left: '2%',
			right: '2%',
			top: '2%',
			bottom: '2%',
			containLabel: true
		},
		xAxis: {
			type: 'value',
			boundaryGap: [0, 0.01]
		},
		yAxis: {
			type: 'category',
			data: ['사용중', '사용중지', '잠금', '휴면', '만료', '삭제']
		},
		series: [
			{
				name: '사용자',
				type: 'bar',
				data: [
				{name: '사용중', value: [[${activeUserTotalCount}]]},
				{name: '사용중지', value: [[${fobidUserTotalCount}]]},
				{name: '잠금', value: [[${failUserTotalCount}]]},
				{name: '휴면', value: [[${sleepUserTotalCount}]]},
				{name: '만료', value: [[${expireUserTotalCount}]]},
				{name: '삭제', value: [[${tempPasswordUserTotalCount}]]}
				],
				emphasis: {
					itemStyle: {
						shadowBlur: 10,
						shadowOffsetX: 0,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				}
			}
		]
	};
	userChart.setOption(userOption);

</script>
</th:block>
</body>
</html>