<!DOCTYPE html>
<html th:lang="${accessibility}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layouts/default">
<head>
	<meta charset="utf-8">
	<meta name="referrer" content="origin">
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="index,nofollow">
	<title>위젯 수정 | mago3D</title>
	<th:block layout:fragment="pageCustomStyle">
		<link rel="shortcut icon" th:href="@{/images/favicon.ico(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/css/{lang}/font/font.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/images/{lang}/icon/glyph/glyphicon.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/externlib/normalize/normalize.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/externlib/chart-js-2.9.3/Chart.min.css(cacheVersion=${contentCacheVersion})}">
		<link rel="stylesheet" th:href="@{/css/{lang}/admin-style.css(lang=${lang}, cacheVersion=${contentCacheVersion})}">
	</th:block>
</head>
<body>
<th:block layout:fragment="pageCustomContent">
	<div class="site-body">
		<div class="container">
			<div class="site-content">
				<div th:replace="~{/fragments/sub-menu :: #subMenuWrap}"></div>
				<div class="page-area">
					<div th:replace="~{/fragments/page-header :: #pageHeaderWrap}"></div>
					<div class="page-content">
						<div class="content-header row">
							<div class="content-title u-pull-left">
								<th:block th:text="#{config.widget.top}"></th:block>
							</div>
						</div>

						<form id="widget" th:object="${widget}" method="post" th:action="@{#}" onsubmit="return false;">
							<input type="hidden" id="widgetOrder" name="widgetOrder" th:field="*{widgetOrder}" />
							<div id="sortable" class="widgets row">
								<th:block th:unless="${widgetList.empty}" th:each="dbWidget : ${widgetList}">
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'userWidget')}">
										<!-- 위젯 1: 사용자 현황-->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column" style="font-size: 16px;">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
												<div class="widget-functions u-pull-right">
													<a href="/user/list" title="사용자 목록"><span class="icon-glyph glyph-plus"></span></a>
												</div>
											</div>
											<canvas id="userStatusChart" width="450" height="150"></canvas>
											<div id="userStatusArea" class="widget-content row">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="userStatusSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'dataTypeWidget')}">
										<!-- 위젯 2: 데이터 타입 현황 -->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column" style="font-size: 16px;">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
												<div class="widget-functions u-pull-right">
													<a href="/data/list" title="데이터 목록"><span class="icon-glyph glyph-plus"></span></a>
												</div>
											</div>
											<canvas id="dataTypeChart" width="450" height="200"></canvas>
											<div id="dataTypeArea" class="widget-content row" style="width: 350px; height:200px;">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="dataTypeSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'converterWidget')}">
										<!-- 위젯 3: 데이터 변환 현황 -->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
												<div class="widget-functions u-pull-right">
													<a href="/converter/list" title="데이터 변환 목록"><span class="icon-glyph glyph-plus"></span></a>
												</div>
											</div>
											<canvas id="converterChart" width="450" height="200"></canvas>
											<div id="converterArea" class="widget-content row" style="width: 350px; height:200px;">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="converterSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'issueWidget')}">
										<!-- 위젯 4: 최근 이슈 목록(1달) -->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
												<div class="widget-functions u-pull-right">
													<a href="/issue/list" title="#{config.widget.issue.more}"><span class="icon-glyph glyph-plus"></span></a>
												</div>
											</div>
											<div id="issueArea" class="widget-content row">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="issueSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'dataAdjustLogWidget')}">
										<!-- 위젯 5: 최근 데이터 위치 변경 요청 이력 -->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
												<div class="widget-functions u-pull-right">
													<a href="/data-adjust-log/list" title="데이터 위치 변경 요청 이력 더보기"><span class="icon-glyph glyph-plus"></span></a>
												</div>
											</div>
											<div id="dataAdjustLogArea" class="widget-content row">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="dataAdjustLogSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'systemResourceWidget')}">
										<!-- 위젯 6: 리소스 현황 -->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
											</div>
											<canvas id="systemResourceChart" width="450" height="200"></canvas>
											<div id="systemResourceArea" class="widget-content row" style="width: 350px; height:200px;">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="systemResourceSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'scheduleWidget')}">
										<!-- 위젯 7: 최근 스케줄 실행 결과 -->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
												<div class="widget-functions u-pull-right">
													<a href="/schedule/list" title="스케줄 실행 결과 더보기"><span class="icon-glyph glyph-plus"></span></a>
												</div>
											</div>
											<div id="scheduleArea" class="widget-content row">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="scheduleSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:if="${#strings.equals(dbWidget.widgetKey, 'apiLogWidget')}">
										<!-- 위젯 8: API 요청 이력 -->
										<div th:id="${dbWidget.widgetId}" class="widget one-third column">
											<div class="widget-header row">
												<div class="widget-heading u-pull-left">
													<h3 class="widget-title"><th:block th:text="${dbWidget.widgetName}"></th:block></h3>
												</div>
												<div class="widget-functions u-pull-right">
													<a href="/api-log/list" title="api 요청 이력 더보기"><span class="icon-glyph glyph-plus"></span></a>
												</div>
											</div>
											<div id="apiLogArea" class="widget-content row">
												<div style="text-align: center; padding-top: 60px; padding-left: 150px;">
													<div id="apiLogSpinner" style="width: 150px; height: 70px;"></div>
												</div>
											</div>
										</div>
									</th:block>
								</th:block>
							</div>
						</form>
						<div class="button-group">
							<div class="center-buttons">
								<input type="submit" th:value="#{save}" onclick="updateWidget(); return false;" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{/widget/issue-template :: #issueListSource}"></div>

</th:block>
<th:block layout:fragment="pageCustomScript">
	<script type="text/javascript" th:src="@{/externlib/jquery-3.3.1/jquery.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/jquery-ui-1.12.1/jquery-ui.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/chart-js-2.9.3/Chart.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/handlebars-4.1.2/handlebars.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/handlebars-helper.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/common.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/{lang}/message.js(lang=${lang},cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/navigation.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/spinner/progressSpin.min.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript" th:src="@{/externlib/spinner/raphael.js(cacheVersion=${contentCacheVersion})}"></script>
	<script type="text/javascript">
		Chart.platform.disableCSSInjection = true;

		$(document).ready(function() {
			$("#sortable").sortable({
				update: function( event, ui ) {
					var widgetValue = "";
					$(".widget").each(function() {
						widgetValue = widgetValue + "," + $(this).attr("id");
					});
					$("#widgetOrder").val(widgetValue);
					console.log(widgetValue);
				}
			});
			$("#sortable").disableSelection();

			startSpinner("userStatusSpinner");
			userWidget();
			startSpinner("dataTypeSpinner");
			dataTypeWidget();
			startSpinner("converterSpinner");
			converterWidget();
			startSpinner("issueSpinner");
			issueWidget();
			startSpinner("dataAdjustLogSpinner");
			dataAdjustLogWidget();
			startSpinner("systemResourceSpinner");
			systemResourceWidget();
			startSpinner("scheduleSpinner");
			scheduleWidget();
			startSpinner("apiLogSpinner");
			apiLogWidget();
		});

		/* 사용자 상태별 현황 */
		function userWidget() {
			$.ajax({
				url : "/widgets/user-status",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg){
					if(msg.statusCode <= 200) {
						$("#userStatusArea").empty();
						showUserStatus(msg);
					} else {
						$("#userStatusArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* 사용자 상태별 현황 위젯 */
		function showUserStatus(msg) {
			var ctx = $("#userStatusChart");
			var chart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: msg.userStatusKeys,
					datasets: [{
						barThickness: 40,
						backgroundColor: 'rgb(255, 99, 132)',
						borderColor: 'rgb(255, 99, 132)',
						data: msg.userStatusValues
					}]
				},
				options: {
					legend: {
						display: false
					},
					tooltips: {
						enabled: false
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
								maxTicksLimit: 7
							}
						}]
					}
				}
			});
		}

		/* 데이터 현황 */
		function dataTypeWidget() {
			$.ajax({
				url : "/widgets/data-types",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg){
					if(msg.statusCode <= 200) {
						$("#dataTypeArea").empty();
						showDataType(msg);
					} else {
						$("#dataTypeArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* 데이터 현황 위젯 */
		function showDataType(msg) {
			var ctx = $("#dataTypeChart");
			var chart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: msg.dataTypeKeys,
					datasets: [{
						barThickness: 40,
						backgroundColor: 'rgba(75, 192, 192, 0.2)',
						borderColor: 'rgb(75, 192, 192)',
						data: msg.dataTypeValues,
						borderWidth: 1
					}]
				},
				options: {
					legend: {
						display: false
					},
					tooltips: {
						enabled: false
					},
					scales: {
						xAxis: [{
							ticks: {
								beginAtZero: true
							}
						}],
						yAxes: [{
							ticks: {
								beginAtZero: true,
								maxTicksLimit: 7
							}
						}]
					}
				}
			});
		}

		/* 1주일간 데이터 변환 현황 */
		function converterWidget() {
			$.ajax({
				url : "/widgets/converters",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg){
					if(msg.statusCode <= 200) {
						$("#converterArea").empty();
						showConverter(msg);
					} else {
						$("#converterArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* 데이터 변환 현황 위젯 */
		function showConverter(msg) {
			var ctx = $("#converterChart");
			var chart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: msg.converterJobFileKeys,
					datasets: [{
						fill: false,
						backgroundColor: 'rgba(153, 102, 255, 0.2)',
						borderColor: 'rgb(153, 102, 255)',
						data: msg.converterJobFileValues
						//borderWidth: 1
					}]
				},
				options: {
					responsive: true,
					legend: {
						display: false
					},
					tooltips: {
						enabled: false
					},
					scales: {
						xAxis: [{
							// ticks: {
							// 	beginAtZero: true
							// }
							// type: 'time',
							// time: {
							// 	displayFormats: {
							// 		quarter: 'YYYY-MM-DD'
							// 	}
							// }
						}],
						yAxes: [{
							ticks: {
								min: 0,
								maxTicksLimit: 7
							}
						}]
					}
				}
			});
		}

		/* 최근 이슈 목록 */
		function issueWidget() {
			$.ajax({
				url : "/widgets/issues",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg) {
					$("#issueArea").empty();
					if(msg.statusCode <= 200) {
						var template = Handlebars.compile($("#issueListSource").html());
						var html = template(msg.issueList);
						$("#issueArea").html("").append(html);
					} else {
						$("#issueArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* 최근 데이터 위치 정보 변경 요청 */
		function dataAdjustLogWidget() {
			$.ajax({
				url : "/widgets/data-adjust-logs",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg) {
					$("#dataAdjustLogArea").empty();
					return;

					if(msg.statusCode <= 200) {
						var template = Handlebars.compile($("#dataAdjustLogListSource").html());
						var html = template(msg.dataAdjustLogList);
						$("#dataAdjustLogArea").html("").append(html);
					} else {
						$("#dataAdjustLogArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* 리소스 현황 */
		function systemResourceWidget() {
			$.ajax({
				url : "/widgets/system-resources",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg) {
					if(msg.statusCode <= 200) {
						$("#systemResourceArea").empty();
						showSystemResource(msg);
					} else {
						$("#systemResourceArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* 리소스 현황 */
		function showSystemResource(msg) {
			var ctx = $("#systemResourceChart");
			var chart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: ['Used', 'Free'],
					datasets: [{
						backgroundColor: ['rgb(255, 159, 64)', 'rgb(153, 102, 255)'],
						data: [msg.diskSpaceUsed, msg.diskSpaceFree]
						//borderWidth: 1
					}]
				},
				options: {
					title: {
						display: true,
						text: 'Disk 사용량'
					},
					responsive: true
				}
			});
		}

		/* 스케줄 실행 결과 */
		function scheduleWidget() {
			$.ajax({
				url : "/widgets/schedules",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg) {
					$("#scheduleArea").empty();
					if(msg.statusCode <= 200) {
						return;

						var template = Handlebars.compile($("#scheduleListSource").html());
						var html = template(msg.scheduleList);
						$("#scheduleArea").html("").append(html);
					} else {
						$("#scheduleArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* api 요청 이력 */
		function apiLogWidget() {
			$.ajax({
				url : "/widgets/api-logs",
				type: "GET",
				headers: {"X-Requested-With": "XMLHttpRequest"},
				dataType: "json",
				success: function(msg) {
					$("#apiLogArea").empty();
					return;
					if(msg.statusCode <= 200) {
						var template = Handlebars.compile($("#apiLogListSource").html());
						var html = template(msg.apiLogList);
						$("#apiLogArea").html("").append(html);
					} else {
						$("#apiLogArea").html(JS_MESSAGE[msg.errorCode]);
					}
				},
				error:function(request,status,error){
					alert(JS_MESSAGE["ajax.error.message"]);
				}
			});
		}

		/* 위젯 순서 수정 */
		var updateFlag = true;
		function updateWidget() {
			if($("#widgetOrder").val() === "") {
				alert(JS_MESSAGE["config.widget.content.does.not.exist"]);
				return false;
			}

			if (updateFlag) {
				updateFlag = false;
				var formData = $("#widget").serialize();
				$.ajax({
					url : "/widgets/order",
					type : "POST",
					data : formData,
					headers: {"X-Requested-With": "XMLHttpRequest"},
					dataType: "json",
					success: function(msg) {
						if(msg.statusCode <= 200) {
							alert(JS_MESSAGE["update"]);
							$("#widgetOrder").val("");
						} else {
							alert(JS_MESSAGE[msg.errorCode]);
							console.log("---- " + msg.message);
						}
						updateFlag = true;
					},
					error:function(request,status,error){
						alert(JS_MESSAGE["ajax.error.message"]);
						updateFlag = true;
					}
				});
			} else {
				alert(JS_MESSAGE["button.dobule.click"]);
				return;
			}
		}
	</script>
</th:block>
</body>
</html>