<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="api0" class="api-help-toggle">
	<img src="/images/ko/common/magologo.JPG" alt="메인">
		<h2>gaia3d.JS V1.0.5</h2>
		<br>
		<img src="/images/ko/common/lisense.JPG" alt="라이센스">
		<br>
		<h3>Open source JavaScript library for 3D multi-block visualization</h3>
		<p>Next-generation 3D GIS platform that integrates and visualizes AEC (Architecture Engineering Construction) domain and traditional 3D spatial information (3D GIS). Integrate AEC and 3D GIS into web browsers that cannot be distinguished indoors and outdoors.</p>
		<p>Browse and collaborate on large Building Information Modeling (BIM), Jupiter Tessellation (JT) and 3D GIS files without installing a program in a web browser.</p>
		
		<h3>Development environment</h3>
		<p>Java8, eclipse, neon, node, apache, jasmine, jsdoc, Gulp, eslint, Jquery</p>
		
		<h3>Getting Started</h3>
		<br>
		<ol class="mainlist">
			<li>Source Installation
				<ul class="mainlist">
					<li>github It accepts mago3DJS from.</li>
					<li>Installation path C://git/repository/mago3djs</li>
				</ul>
			</li>
			<li>Node Installation
				<ul class="mainlist">
					<li>npm install</li>
					<li>npm install -g gulp</li>
				</ul>
			</li>
			<li>Node Server Execution
				<ul class="mainlist">
					<li>Running a local server: C:\git\repository\mago3djs > node server.js</li>
					<li>Running a public server: C:\git\repository\mago3djs > node server.js --public true</li>
				</ul>
			</li>
			<li>Create Symbolic Link
				<ul class="mainlist">
					<li>Create Data Folder: mklink /d "C:\git\repository\mago3djs\data" "C:\data"</li>
					<li>Delete data folder: C:\git\repository\mago3djs > rmdir data</li>
				</ul>
			</li>
		</ol>
</div>
</html>