<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.CivilVoiceMapper">

	<!-- 시민 참여 목록 조회 -->
	<select id="getListCivilVoice" parameterType="civilVoice" resultType="civilVoice">
		/* getListCivilVoice */
		WITH civil_voice AS (
	        SELECT
				civil_voice_id,
				user_id,
				title,
				content as contents,
				location as geometry,
				heit as altitude,
				use_yn as available,
				user_ip as client_ip,
				view_count,
				comment_count,
				year, month, day, year_week, week, hour, minute,
				update_dt as update_date,
				regist_dt as insert_date,
				sido_cd, sgg_cd, emd_cd
	        FROM tn_civil_voice
        )
        SELECT
			civil_voice.*,
			ST_X(geometry) AS longitude, ST_Y(geometry) AS latitude, ST_AsText(geometry) AS location,
			CASE WHEN user_id = #{userId} THEN true ELSE false END as editable
        FROM civil_voice
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="title != null and title != '' ">
			AND title LIKE #{title} || '%'
			</if>
		</trim>
		ORDER BY civil_voice_id DESC
		OFFSET #{offset} LIMIT #{limit}
	</select>

	<!-- 시민 참여 전체 목록 조회 -->
	<select id="getListAllCivilVoice" parameterType="civilVoice" resultType="civilVoice">
		/* getListAllCivilVoice */
		WITH civil_voice AS (
	        SELECT
				civil_voice_id,
				user_id,
				title,
				content as contents,
				location as geometry,
				heit as altitude,
				use_yn as available,
				user_ip as client_ip,
				view_count,
				comment_count,
				year, month, day, year_week, week, hour, minute,
				update_dt as update_date,
				regist_dt as insert_date,
				sido_cd, sgg_cd, emd_cd
	        FROM tn_civil_voice
        )
        SELECT
			civil_voice_id,
			comment_count,
			ST_X(geometry) AS longitude,
			ST_Y(geometry) AS latitude
        FROM civil_voice
	</select>

	<!-- 시민 참여 전체 건수 조회 -->
	<select id="getCivilVoiceTotalCount" parameterType="civilVoice" resultType="long">
		/* getCivilVoiceTotalCount */
		WITH civil_voice AS (
	        SELECT
				civil_voice_id,
				user_id,
				title,
				content as contents,
				location as geometry,
				heit as altitude,
				use_yn as available,
				user_ip as client_ip,
				view_count,
				comment_count,
				year, month, day, year_week, week, hour, minute,
				update_dt as update_date,
				regist_dt as insert_date,
				sido_cd, sgg_cd, emd_cd
	        FROM tn_civil_voice
        )
        SELECT COUNT(civil_voice_id)
        FROM civil_voice
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="title != null and title != '' ">
			AND title LIKE #{title} || '%'
			</if>
		</trim>
	</select>

	<!-- 시민 참여 한건에 대한 정보 조회 -->
	<select id="getCivilVocieById" parameterType="civilVoice" resultType="civilVoice">
		/* getCivilVocieById */
        WITH civil_voice AS (
	        SELECT
				civil_voice_id,
				user_id,
				title,
				content as contents,
				location as geometry,
				heit as altitude,
				use_yn as available,
				user_ip as client_ip,
				view_count,
				comment_count,
				year, month, day, year_week, week, hour, minute,
				update_dt as update_date,
				regist_dt as insert_date,
				sido_cd, sgg_cd, emd_cd
	        FROM tn_civil_voice
        )
		SELECT
			civil_voice.*,
			ST_X(geometry) AS longitude, ST_Y(geometry) AS latitude, ST_AsText(geometry) AS location,
			CASE WHEN user_id = #{userId} THEN true ELSE false END as editable
		FROM civil_voice
		WHERE civil_voice_id = #{civilVoiceId}
	</select>

	<!-- 등록 -->
	<insert id="insertCivilVoice" parameterType="civilVoice">
		/* insertCivilVoice */
		<selectKey keyProperty="civilVoiceId" resultType="long" order="BEFORE">
			SELECt NEXTVAL('civil_voice_seq')
		</selectKey>
		INSERT INTO tn_civil_voice (
			civil_voice_id,	user_id, title, content, location, heit,
			user_ip, sido_cd, sgg_cd, emd_cd
        ) VALUES (
			#{civilVoiceId}, #{userId}, #{title}, #{contents}, ST_GeomFromText(#{location}, 4326), #{altitude},
			#{clientIp}, #{sidoCd}, #{sggCd}, #{emdCd}
        )
	</insert>

	<!-- 수정 -->
	<update id="updateCivilVoice" parameterType="civilVoice">
		/* updateCivilVoice */
		UPDATE tn_civil_voice
		SET
			<if test="title != null and title != ''">
			title = #{title},
			</if>
			<if test="contents != null and contents != ''">
			content = #{contents},
			</if>
			<if test="location != null and location != ''">
			location = ST_GeomFromText(#{location}, 4326),
			</if>
			<if test="altitude != null and altitude != ''">
			heit = #{altitude},
			</if>
			<if test="available != null">
			use_yn = #{available},
			</if>
			<if test="clientIp != null and clientIp != ''">
			user_ip = #{clientIp},
			</if>
			<if test="viewCount != null">
			view_count = #{viewCount},
			</if>
			<if test="year != null and year != ''">
			year = #{year},
			</if>
			<if test="month != null and month != ''">
			month = #{month},
			</if>
			<if test="day != null and day != ''">
			day = #{day},
			</if>
			<if test="yearWeek != null and yearWeek != ''">
			year_week = #{yearWeek},
			</if>
			<if test="week != null and week != ''">
			week = #{week},
			</if>
			<if test="hour != null and hour != ''">
			hour = #{hour},
			</if>
			<if test="minute != null and minute != ''">
			minute = #{minute},
			</if>
			<if test="sidoCd != null and sidoCd != ''">
			sido_cd = #{sidoCd},
			</if>
			<if test="sggCd != null and sggCd != ''">
			sgg_cd = #{sggCd},
			</if>
			<if test="emdCd != null and emdCd != ''">
			emd_cd = #{emdCd},
			</if>
			update_dt = NOW()
		WHERE civil_voice_id = #{civilVoiceId}
	</update>

	<!-- 댓글 수 수정 -->
	<update id="updateCivilVoiceCommentCount" parameterType="civilVoice">
		/* updateCivilVoiceCommentCount */
		UPDATE tn_civil_voice
		SET
			comment_count = (SELECT COUNT(1) + 1 FROM tn_civil_voice_comment WHERE civil_voice_id = #{civilVoiceId})
		WHERE civil_voice_id = #{civilVoiceId}
	</update>

	<!-- 조회 수 수정 -->
	<update id="updateCivilVoiceViewCount" parameterType="civilVoice">
		/* updateCivilVoiceViewCount */
		UPDATE tn_civil_voice target
		SET
			view_count = before.view_count + 1
		FROM tn_civil_voice before
		WHERE target.civil_voice_id = before.civil_voice_id
		AND target.civil_voice_id = #{civilVoiceId}
	</update>

	<!-- 삭제 -->
	<delete id="deleteCivilVoice" parameterType="long">
		/* deleteCivilVoice */
		DELETE FROM tn_civil_voice WHERE civil_voice_id = #{civilVoiceId}
	</delete>

	<delete id="deleteAllCivilVoice">
		/* deleteAllCivilVoice */
		DELETE FROM tn_civil_voice
	</delete>
</mapper>