<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gaia3d.persistence.UserPolicyMapper">

    <!-- 사용자 설정 정보 조회 -->
    <select id="getUserPolicy" parameterType="string" resultType="userPolicy">
        /* getUserPolicy */
        SELECT * FROM user_policy WHERE user_id = #{userId}
    </select>

    <!-- 사용자 설정 등록 -->
    <insert id="insertUserPolicy" parameterType="userPolicy">
        /* insertUserPolicy */
        <selectKey keyProperty="userPolicyId" resultType="int" order="BEFORE">
        SELECT NEXTVAL('user_policy_seq')
        </selectKey>
        INSERT INTO user_policy (
        	user_policy_id, user_id, base_layers, init_latitude, init_longitude, init_altitude, init_duration
        )
        VALUES (
        	#{userPolicyId}, #{userId}, #{baseLayers}, #{initLatitude}, #{initLongitude}, #{initAltitude}, #{initDuration}
        )
    </insert>

    <!-- 사용자 설정 수정 -->
    <update id="updateUserPolicy" parameterType="userPolicy">
        /* updateUserPolicy */
        UPDATE user_policy SET
           	<if test="initLatitude != null and initLatitude != ''">
        		init_latitude = #{initLatitude}, 
        	</if>
        	<if test="initLongitude != null and initLongitude != ''">
        		init_longitude = #{initLongitude}, 
        	</if>
        	<if test="initAltitude != null and initAltitude != ''">
        		init_altitude = #{initAltitude}, 
        	</if>
        	<if test="initDuration != null">
        		init_duration = #{initDuration}, 
        	</if>
           		update_date = NOW()
        WHERE user_id = #{userId}
    </update>
    
    <update id="updateBaseLayers" parameterType="userPolicy">
    	UPDATE user_policy
    	SET base_layers = #{baseLayers}
       	WHERE user_id = #{userId} 
    </update>
</mapper>