<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<body>
    <div id="fileUploadDialog" class="spinner-dialog" th:fragment="dialogMenuTemplate" th:title="#{common.strike.uploading}" style="width:200px;text-align: center">
        <div id="fileUploadSpinner" class="loader" style="margin-top:20px; width:100px; height:100px; text-align: center;">
        </div>
    </div>
</body>
</html>
<!-- <div style="width:200px;text-align: center">
	<div class="loader"></div>
	<div class="loader-txt">
		<p>파일을 등록 중입니다.</p>
	</div>
</div>
 -->