<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
    	<typeAlias type="mago3d.domain.AccessLog" alias="accessLog" />
    	<typeAlias type="mago3d.domain.CivilVoice" alias="civilVoice" />
    	<typeAlias type="mago3d.domain.CivilVoiceComment" alias="civilVoiceComment" />
    	<typeAlias type="mago3d.domain.ConverterJob" alias="converterJob" />
    	<typeAlias type="mago3d.domain.ConverterJobFile" alias="converterJobFile" />
		<typeAlias type="mago3d.domain.DataAdjustLog" alias="dataAdjustLog" />
		<typeAlias type="mago3d.domain.DataAttribute" alias="dataAttribute" />
		<typeAlias type="mago3d.domain.DataFileInfo" alias="dataFileInfo" />
		<typeAlias type="mago3d.domain.DataFileParseLog" alias="dataFileParseLog" />
		<typeAlias type="mago3d.domain.DataSmartTilingFileInfo" alias="dataSmartTilingFileInfo" />
		<typeAlias type="mago3d.domain.DataSmartTilingFileParseLog" alias="dataSmartTilingFileParseLog" />
		<typeAlias type="mago3d.domain.DataAttributeFileInfo" alias="dataAttributeFileInfo" />
		<typeAlias type="mago3d.domain.DataObjectAttribute" alias="dataObjectAttribute" />
		<typeAlias type="mago3d.domain.DataObjectAttributeFileInfo" alias="dataObjectAttributeFileInfo" />
		<typeAlias type="mago3d.domain.DataGroup" alias="dataGroup" />
		<typeAlias type="mago3d.domain.DataInfo" alias="dataInfo" />
		<typeAlias type="mago3d.domain.DataInfoSimple" alias="dataInfoSimple" />
		<typeAlias type="mago3d.domain.DataInfoLog" alias="dataInfoLog" />
		<typeAlias type="mago3d.domain.GeoPolicy" alias="geoPolicy" />
    	<typeAlias type="mago3d.domain.Layer" alias="layer" />
    	<typeAlias type="mago3d.domain.LayerGroup" alias="layerGroup" />
    	<typeAlias type="mago3d.domain.LayerFileInfo" alias="layerFileInfo" />
    	<typeAlias type="mago3d.domain.Menu" alias="menu" />
    	<typeAlias type="mago3d.domain.Policy" alias="policy" />
    	<typeAlias type="mago3d.domain.Role" alias="role" />
		<typeAlias type="mago3d.domain.UploadData" alias="uploadData" />
		<typeAlias type="mago3d.domain.UploadDataFile" alias="uploadDataFile" />
    	<typeAlias type="mago3d.domain.UserInfo" alias="userInfo" />
    	<typeAlias type="mago3d.domain.UserGroup" alias="userGroup" />
    	<typeAlias type="mago3d.domain.UserGroupMenu" alias="userGroupMenu" />
    	<typeAlias type="mago3d.domain.UserGroupRole" alias="userGroupRole" />
    	<typeAlias type="mago3d.domain.UserPolicy" alias="userPolicy"/>
    	<typeAlias type="mago3d.domain.UserSession" alias="userSession" />
    	<typeAlias type="mago3d.domain.Widget" alias="widget" />
    </typeAliases>

	<!-- <typeHandlers>
    	<typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
    </typeHandlers> -->

</configuration>
